In [1]:
import pandas as pd
import numpy as np

In [2]:
achievements_playstation = pd.read_csv("playstation/achievements.csv")
achievements_playstation.head()

,achievementid,gameid,title,description,rarity
0,749980_6103480,749980,Platinum Cup,Get all the trophies,Platinum
1,749980_6103481,749980,Arcade Beginner,Finish race,Bronze
2,749980_6103482,749980,Arcade Beginner Dirt,Finish race,Bronze
3,749980_6103483,749980,Arcade Intermediate,Finish race,Silver
4,749980_6103484,749980,Arcade Advanced,Finish race,Silver

In [3]:
games_playstation = pd.read_csv("playstation/games.csv")
games_playstation.head()

,gameid,title,platform,developers,publishers,genres,supported_languages,release_date
0,749375,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],NaN,2024-11-22
1,749839,Sunforge Solar Survival,PS4,['GrizzlyGames'],['GrizzlyGames'],NaN,NaN,2024-11-21
2,749347,Find Love Or Die Trying,PS5,['Sunseeker Games'],['Ratalaika Games'],['Visual Novel'],NaN,2024-11-22
3,749341,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],NaN,2024-11-22
4,749097,Bust A Block 2,PS5,['ThiGames'],['ThiGames'],['Puzzle'],NaN,2024-11-21

In [4]:
history_playstation = pd.read_csv("playstation/history.csv")
history_playstation.head()

   playerid   achievementid        date_acquired
0   1911732  670209_5436079  2024-11-28 10:23:24
1   1911732  670209_5436078  2024-11-28 09:36:41
2   1911732  670209_5436077  2024-11-28 08:31:54
3   1911732  670209_5436076  2024-11-28 08:19:23
4   1911732  658551_5368954  2024-10-05 13:12:35

In [5]:
players_playstation = pd.read_csv("playstation/players.csv")
players_playstation.head()

   playerid         nickname             country
0   2744567  ieizazuBisnorog             Croatia
1    328452     DiscoGitaroo       United States
2   2521482          Ectivey      United Kingdom
3    390175      Tomie_Again  Korea, Republic of
4   4348945     Lordhell1986  Russian Federation

In [6]:
prices_playstation = pd.read_csv("playstation/prices.csv")
prices_playstation.head()

   gameid    usd    eur    gbp     jpy     rub date_acquired
0  749347  10.39  10.39   7.99  1408.0   929.0    2025-02-22
1  749281   1.49   1.49   1.19   220.0     NaN    2025-02-22
2  749839  14.99  14.99  11.99  2310.0  1069.0    2025-02-22
3  749280   1.49   1.49   1.19   220.0     NaN    2025-02-22
4  749375   0.99   0.49   0.39   165.0    71.0    2025-02-22

In [7]:
purchased_games_playstation = pd.read_csv("playstation/purchased_games.csv")
purchased_games_playstation.head()

   playerid                                            library
0    268071  [14972, 417905, 14693, 7742, 20162, 461983, 12...
1   2218485  [410618, 17456, 16034, 138931, 175202, 331007,...
2    253885  [417808, 706747, 619583, 492711, 555631, 18167...
3   1911732  [670209, 694794, 658551, 582894, 602666, 65531...
4   3098524  [19362, 170350, 12653, 20230, 12750, 18141, 41...

In [8]:
achievements_steam = pd.read_csv("steam/achievements.csv")
achievements_steam.head()

,achievementid,gameid,title,description
0,2621440_ACH_FIRST_KILL,2621440,FIRST KILL,You should kill ONE enemy.
1,2621440_ACH_0_LEVEL_COMPLETED,2621440,TUTORIAL COMPLETED,You should complete tutorial.
2,2621440_ACH_1_LEVEL_COMPLETED,2621440,FIRST LEVEL,You should complete first level
3,2621440_ACH_2_LEVEL_COMPLETED,2621440,SECOND LEVEL,You should complete second level
4,2621440_ACH_3_LEVEL_COMPLETED,2621440,THIRD LEVEL,You should complete third level

In [9]:
friends_steam = pd.read_csv("steam/friends.csv")
friends_steam.head()

            playerid                                            friends
0  76561198060422271  ['76561198018120276', '76561198034545417', '76...
1  76561198113439786  ['76561198047435192', '76561198059136488', '76...
2  76561198149851326  ['76561197991555589', '76561198003513187', '76...
3  76561198296997371                                                NaN
4  76561198895573082  ['76561197960300358', '76561197961330830', '76...

In [10]:
games_steam = pd.read_csv("steam/games.csv")
games_steam.head()

,gameid,title,developers,publishers,genres,supported_languages,release_date
0,3281560,Horror Game To Play With Friends! Playtest,NaN,NaN,NaN,NaN,2024-10-21
1,3280930,Eternals' Path Playtest,NaN,NaN,NaN,NaN,2024-10-17
2,3280770,ANGST: A TALE OF SURVIVAL - Singleplayer Playtest,NaN,NaN,NaN,NaN,2024-10-13
3,3279790,Montabi Playtest,NaN,NaN,NaN,NaN,2024-10-13
4,3278320,파이팅걸 유리 Playtest,NaN,NaN,NaN,NaN,2024-10-12

In [11]:
history_steam = pd.read_csv("steam/history.csv")
history_steam.head()

            playerid achievementid        date_acquired
0  76561198220441373  403640_ACH_1  2019-12-18 15:33:43
1  76561198220441373  403640_ACH_2  2019-12-18 23:49:51
2  76561198220441373  403640_ACH_3  2019-12-19 23:05:07
3  76561198220441373  403640_ACH_4  2019-12-24 05:50:49
4  76561198220441373  403640_ACH_5  2023-04-19 22:39:36

In [12]:
players_steam = pd.read_csv("steam/players.csv")
players_steam.head()

            playerid     country              created
0  76561198287452552      Brazil  2016-03-02 06:14:20
1  76561198040436563      Israel  2011-04-10 17:10:06
2  76561198049686270         NaN  2011-09-28 21:43:59
3  76561198155814250  Kazakhstan  2014-09-24 19:52:47
4  76561198119605821         NaN  2013-12-26 00:25:50

In [13]:
prices_steam = pd.read_csv("steam/prices.csv")
prices_steam.head()

    gameid  usd  eur  gbp  jpy  rub date_acquired
0  3281560  NaN  NaN  NaN  NaN  NaN    2024-11-28
1  3280930  NaN  NaN  NaN  NaN  NaN    2024-11-28
2  3280770  NaN  NaN  NaN  NaN  NaN    2024-11-28
3  3279790  NaN  NaN  NaN  NaN  NaN    2024-11-28
4  3278320  NaN  NaN  NaN  NaN  NaN    2024-11-28

In [14]:
purchased_games_steam = pd.read_csv("steam/purchased_games.csv")
purchased_games_steam.head()

            playerid                                            library
0  76561198060698936  [60, 1670, 3830, 1600, 2900, 2910, 2920, 4800,...
1  76561198287452552  [10, 80, 100, 240, 2990, 6880, 6910, 6920, 698...
2  76561198040436563  [10, 80, 100, 300, 20, 30, 40, 50, 60, 70, 130...
3  76561198042412488  [300, 240, 220, 320, 360, 4300, 4800, 4000, 61...
4  76561198119605821  [47870, 108600, 550, 271590, 331470, 381210, 2...

In [15]:
reviews = pd.read_csv("steam/reviews.csv")
reviews.head()

,reviewid,playerid,gameid,review,helpful,funny,awards,posted
0,639543,76561198796340888,730,Goud gamę i have 3 vac ban acont but i stilll ...,0,0,0,2018-03-22
1,639544,76561198028706627,393380,---{ Graphics }---☐ You forget what reality is...,0,0,0,2025-01-03
2,639545,76561198028706627,10,One of the best FPS games :),0,0,0,2012-05-13
3,639546,76561198049356580,469600,gayet güzel w3 havasını yakalıyor,0,0,0,2018-04-21
4,639547,76561198272817436,730,ONE OF THE GAMES I COME BACK TO,2,0,0,2020-01-23

In [16]:
achievements_xbox = pd.read_csv("xbox/achievements.csv")
achievements_xbox.head()

,achievementid,gameid,title,description,points
0,751069_6114697,751069,Sweet Dreams,Go to sleep and wake up feeling refreshed,50.0
1,751069_6114698,751069,Lumberjack,Chop your first tree,50.0
2,751069_6114699,751069,Miner,Mine your first stone,50.0
3,751069_6114700,751069,Cook,Cook your first meal,50.0
4,751069_6114701,751069,Forager,Collect your first berries,50.0

In [17]:
games_xbox = pd.read_csv("xbox/games.csv")
games_xbox.head()

,gameid,title,developers,publishers,genres,supported_languages,release_date
0,1253,Tomb Raider: Legend,['crystal dynamics'],['Crystal Dynamics'],"['Action', 'Adventure', 'strategy', 'Simulation']","['French', 'Spanish', 'German', 'Italian']",2009-08-11
1,749026,SANYA,['helpnode'],['Samustai'],"['Adventure', 'Point & Click']",NaN,2024-11-22
2,747223,Sky Roll!,['Entity3'],['Entity3'],['Platformer'],NaN,2024-11-22
3,727440,Rogue Flight,NaN,NaN,NaN,NaN,2024-10-25
4,750229,Infernitos,['AFIL Games'],['AFIL Games'],['Puzzle'],NaN,2024-12-18

In [18]:
history_xbox = pd.read_csv("xbox/history.csv")
history_xbox.head()

   playerid   achievementid        date_acquired
0   2466527  750641_6112019  2024-11-27 22:37:31
1   2466527  750641_6111985  2024-11-27 00:14:26
2   2466527  557191_4661215  2024-11-27 16:15:38
3   2466527  557191_4661196  2024-11-27 12:15:35
4   2466527  557191_4661203  2024-11-27 11:25:50

In [19]:
players_xbox = pd.read_csv("xbox/players.csv")
players_xbox.head()

   playerid         nickname
0    848738           smrnov
1    848736  RedmptionDenied
2   1470783          Healtti
3    848735        jimmyhova
4    848739       Stallion83

In [20]:
prices_xbox = pd.read_csv("xbox/prices.csv")
prices_xbox.head()

   gameid    usd    eur    gbp  jpy     rub date_acquired
0    1253  19.99  19.99  15.99  NaN  1772.0    2025-02-22
1  727440  17.99  17.99  14.99  NaN  1595.0    2025-02-22
2  747995   4.79   4.79   3.99  NaN   425.0    2025-02-22
3  727135  17.99  17.99  14.99  NaN  1595.0    2025-02-22
4  748541  19.99  19.99  16.74  NaN  1772.0    2025-02-22

In [21]:
purchased_games_xbox = pd.read_csv("xbox/purchased_games.csv")
purchased_games_xbox.head()

   playerid                                            library
0    848738  [14711, 2128, 10783, 9118, 7235, 9637, 717236,...
1    848736  [707376, 747223, 550303, 620354, 734202, 74678...
2   1470783  [638932, 32551, 748147, 468697, 446682, 615753...
3    848735  [736287, 555825, 717258, 422060, 12645, 550263...
4    848739  [698325, 443814, 745210, 747223, 734202, 71154...

#### Nettoyage du dataset achievement

In [22]:
#Ajout de la colonne plateforme aux dataset achivements
achievements_playstation['plateforme'] = 'playstation'
achievements_steam['plateforme'] = 'steam'
achievements_xbox['plateforme'] = 'xbox'

#concatenation des dataset achievement
achievements = pd.concat(objs = [achievements_playstation, achievements_steam, achievements_xbox], axis = 0, ignore_index=True)

#Ajout de unknown dans les lignes vides
achievements = achievements.fillna({'title': 'unknown', 'description': 'unknown', 'points':'Null'})

#l'identifiant de la colonne gameid est suffixé par la plateforme 
achievements['gameid'] = achievements['gameid'].astype('str') + '_' + achievements['plateforme']

In [23]:
achievements

,achievementid,gameid,title,description,rarity,plateforme,points
0,749980_6103480,749980_playstation,Platinum Cup,Get all the trophies,Platinum,playstation,Null
1,749980_6103481,749980_playstation,Arcade Beginner,Finish race,Bronze,playstation,Null
2,749980_6103482,749980_playstation,Arcade Beginner Dirt,Finish race,Bronze,playstation,Null
3,749980_6103483,749980_playstation,Arcade Intermediate,Finish race,Silver,playstation,Null
4,749980_6103484,749980_playstation,Arcade Advanced,Finish race,Silver,playstation,Null
...,...,...,...,...,...,...,...
3136696,333262_6158528,333262_xbox,Animal Farm,Reach 50 Vivarium capacity.,NaN,xbox,1.0
3136697,333262_6158529,333262_xbox,Wormageddon,Destroy a Voidworm nest.,NaN,xbox,1.0
3136698,333262_6158530,333262_xbox,That's No Asteroid,Capture a Cutholoid with a Gravity Snare.,NaN,xbox,1.0
3136699,333262_6158531,333262_xbox,X Marks the Spot,Discover Captain Ness's Treasure Hoard.,NaN,xbox,1.0
3136700,333262_6158532,333262_xbox,Beastmaster,Defeat the endgame crisis without building a s...,NaN,xbox,1.0

#### Nettoyage des datasets games

In [24]:

#Ajout d'une colonne plateforme
games_playstation['plateforme'] = 'playstation'
games_steam['plateforme'] = 'steam'
games_xbox['plateforme'] = 'xbox'

#concatenation des dataset games
games = pd.concat(objs = [games_playstation, games_steam, games_xbox], axis = 0, ignore_index=True)

#remplacement des valeurs vides par unknown
games = games.fillna({'title': 'unknown', 'platform': 'unknown', 'developers' : 'unknown', 'publishers': 'unknown', 'genres': 'unknown', 'supported_languages': 'unknown'})

#Ajout d'une colonne contenant le genre principal
games['main_genre'] = games['genres'].str.strip('[]').str.replace("'", "").str.split(',').str[0]

#Conversion des colonnes publisher, developers et supported_languages en list
games['developers'] = games['developers'].str.strip('[]').str.replace("'", "").str.split(',')
games['publishers'] = games['publishers'].str.strip('[]').str.replace("'", "").str.split(',')
games['supported_languages'] = games['supported_languages'].str.strip('[]').str.replace("'", "").str.split(',')

#nombre de langue par jeu
games['supported_languages_count'] = games['supported_languages'].apply(len)

#reconversion de la colonne supported_languages en string afin d'affecter 0 à la colonne supported_languages_count où la colonne supported_languages vaut unknow
games['supported_languages'] = games['supported_languages'].astype('str')
games.loc[
    games['supported_languages'] == "['unknown']",
    'supported_languages_count'
] = 0

#conversion de la colonne supported_languages en liste
games['supported_languages'] = games['supported_languages'].str.strip('[]').str.replace("'", "").str.split(',')

#conversion de la date release_date en format date
games['release_date'] = pd.to_datetime(arg=games['release_date'])

#ajout d'une colonne année de sortie
games['release_year'] = games['release_date'].dt.year

#l'identifiant du jeu est suffixé par la plateforme
games['gameid'] = games['gameid'].astype('str') + '_' + games['plateforme']

In [25]:
games

,gameid,title,platform,developers,publishers,genres,supported_languages,release_date,plateforme,main_genre,supported_languages_count,release_year
0,749375_playstation,Medieval Match Master,PS4,[Erik Games],[Erik Games],['Puzzle'],[unknown],2024-11-22,playstation,Puzzle,0,2024
1,749839_playstation,Sunforge Solar Survival,PS4,[GrizzlyGames],[GrizzlyGames],unknown,[unknown],2024-11-21,playstation,unknown,0,2024
2,749347_playstation,Find Love Or Die Trying,PS5,[Sunseeker Games],[Ratalaika Games],['Visual Novel'],[unknown],2024-11-22,playstation,Visual Novel,0,2024
3,749341_playstation,Medieval Match Master,PS4,[Erik Games],[Erik Games],['Puzzle'],[unknown],2024-11-22,playstation,Puzzle,0,2024
4,749097_playstation,Bust A Block 2,PS5,[ThiGames],[ThiGames],['Puzzle'],[unknown],2024-11-21,playstation,Puzzle,0,2024
...,...,...,...,...,...,...,...,...,...,...,...,...
131883,163747_xbox,Fishing Sim World,unknown,[Dovetail Games],[unknown],['sports'],"[French, Spanish, German, Russian, Chi...",2018-09-18,xbox,sports,7,2018
131884,163627_xbox,Construction Simulator 2 US - Console Edition,unknown,[unknown],[unknown],unknown,"[Japanese, French, Spanish, German, It...",2018-09-12,xbox,unknown,10,2018
131885,6817_xbox,Saraiva Player,unknown,[Saraiva Player],[Saraiva Player],['Video'],[unknown],2014-01-21,xbox,Video,0,2014
131886,6807_xbox,SKY ONLINE,unknown,[SKY Brasil],[SKY Brasil],['Video'],[unknown],2013-11-22,xbox,Video,0,2013
131887,2519_xbox,Crazy Machines Elem.,unknown,[FAKT Software Gmbh],[unknown],"['strategy', 'Simulation', 'puzzle']","[French, Spanish, German, Italian]",2011-08-24,xbox,strategy,4,2011

#### Nettoyage des dataset history

In [26]:

#Ajout d'une colonne plateforme
history_playstation['plateforme'] = 'playstation'
history_steam['plateforme'] = 'steam'
history_xbox['plateforme'] = 'xbox'

#concatenation des dataset history
history = pd.concat(objs = [history_playstation, history_steam, history_xbox], axis = 0, ignore_index=True)

#conversion de la date date_acquired en format date
history['date_acquired'] = pd.to_datetime(arg=history['date_acquired'])

#ajout d'une colonne année d'acquisition'
history['acquired_year'] = history['date_acquired'].dt.year

#l'identifiant du jeu est suffixé par la plateforme
history['playerid'] = history['playerid'].astype('str') + '_' + history['plateforme']

In [27]:
history

,playerid,achievementid,date_acquired,plateforme,acquired_year
0,1911732_playstation,670209_5436079,2024-11-28 10:23:24,playstation,2024
1,1911732_playstation,670209_5436078,2024-11-28 09:36:41,playstation,2024
2,1911732_playstation,670209_5436077,2024-11-28 08:31:54,playstation,2024
3,1911732_playstation,670209_5436076,2024-11-28 08:19:23,playstation,2024
4,1911732_playstation,658551_5368954,2024-10-05 13:12:35,playstation,2024
...,...,...,...,...,...
45479857,513481_xbox,2223_297052,2009-12-03 00:10:57,xbox,2009
45479858,513481_xbox,2223_304919,2009-12-01 19:22:26,xbox,2009
45479859,513481_xbox,2223_304920,2009-12-01 18:33:36,xbox,2009
45479860,513481_xbox,2223_304921,2009-12-01 18:22:18,xbox,2009
45479861,513481_xbox,2223_304922,2009-12-01 18:12:40,xbox,2009

#### Nettoyage des dataset players

In [28]:
#Ajout d'une colonne plateforme
players_playstation['plateforme'] = 'playstation'
players_steam['plateforme'] = 'steam'
players_xbox['plateforme'] = 'xbox'

#Concaténation des dataset plateforme
players = pd.concat([players_playstation, players_steam, players_xbox], axis = 0, ignore_index= True)

#Suppression de la colonne nickname
players.drop('nickname', axis=1, inplace=True)

#Conversion de la colonne created au format date
players['created'] = pd.to_datetime(arg = players['created'],errors='coerce')

#Ajout de la colonne année de création
players['created_year'] = players['created'].dt.year

#remplacement des valeurs vide par unknown
players = players.fillna({'country': 'unknown', 'created': 'unknown', 'created_date' : 'unknown', 'created_time' : 'unknown'})

#l'identifiant playerid est suffixé par la plateforme
players['playerid'] = players['playerid'].astype('str') + '_' + players['plateforme']

In [29]:
players

,playerid,country,plateforme,created,created_year
0,2744567_playstation,Croatia,playstation,unknown,NaN
1,328452_playstation,United States,playstation,unknown,NaN
2,2521482_playstation,United Kingdom,playstation,unknown,NaN
3,390175_playstation,"Korea, Republic of",playstation,unknown,NaN
4,4348945_playstation,Russian Federation,playstation,unknown,NaN
...,...,...,...,...,...
1055728,1773447_xbox,unknown,xbox,unknown,NaN
1055729,1934243_xbox,unknown,xbox,unknown,NaN
1055730,2140366_xbox,unknown,xbox,unknown,NaN
1055731,2231830_xbox,unknown,xbox,unknown,NaN
1055732,2526457_xbox,unknown,xbox,unknown,NaN

#### Nettoyage du dataset price

In [30]:
#Ajout d'une colonne plateforme
prices_playstation['plateforme'] = 'playstation'
prices_steam['plateforme'] = 'steam'
prices_xbox['plateforme'] = 'xbox'

#Concatenation des dataset price
prices = pd.concat([prices_playstation, prices_steam, prices_xbox], axis = 0, ignore_index= True)

#Conversion de la colonne date_acquired en date
prices['date_acquired'] = pd.to_datetime(arg = prices['date_acquired'],errors='coerce')

#Ajout de l'année du prix
prices['acquired_year'] =  prices['date_acquired'].dt.year

#L'identifiant du jeu est suffixé par la plateforme
prices['gameid'] = prices['gameid'].astype('str') + '_' + prices['plateforme']

In [31]:
prices

,gameid,usd,eur,gbp,jpy,rub,date_acquired,plateforme,acquired_year
0,749347_playstation,10.39,10.39,7.99,1408.0,929.0,2025-02-22,playstation,2025
1,749281_playstation,1.49,1.49,1.19,220.0,NaN,2025-02-22,playstation,2025
2,749839_playstation,14.99,14.99,11.99,2310.0,1069.0,2025-02-22,playstation,2025
3,749280_playstation,1.49,1.49,1.19,220.0,NaN,2025-02-22,playstation,2025
4,749375_playstation,0.99,0.49,0.39,165.0,71.0,2025-02-22,playstation,2025
...,...,...,...,...,...,...,...,...,...
4499722,717371_xbox,4.99,4.99,4.19,NaN,443.0,2025-02-24,xbox,2025
4499723,3813_xbox,NaN,NaN,NaN,NaN,NaN,2025-02-24,xbox,2025
4499724,3878_xbox,NaN,NaN,NaN,NaN,NaN,2025-02-24,xbox,2025
4499725,2059_xbox,59.99,69.99,54.99,NaN,6218.0,2025-02-24,xbox,2025
4499726,185222_xbox,NaN,NaN,NaN,NaN,NaN,2025-02-24,xbox,2025

#### Conversion des prix en dollar

In [32]:
# Remplacer les valeurs manquantes par Null

prices = prices.replace(np.nan, 'Null')

# Supprimer les gameid en double dans le dataframe prices

price_without_double = prices.drop_duplicates(subset='gameid')

# Copier le DataFrame original
prices_usd = price_without_double.copy()

# Remplacer 'Null' par np.nan
prices_usd = prices_usd.replace('Null', np.nan)

# Colonnes de devise
cols = ['usd', 'eur', 'gbp', 'jpy', 'rub']

# Convertir les colonnes en float
for col in cols:
    prices_usd[col] = prices_usd[col].astype(float)

# Taux de conversion vers USD
eur_to_usd = 1.08
gbp_to_usd = 1.26
jpy_to_usd = 0.0066
rub_to_usd = 0.011

# Conversion : on remplace les valeurs par leur équivalent en USD
prices_usd['eur'] = prices_usd['eur'] / eur_to_usd
prices_usd['gbp'] = prices_usd['gbp'] / gbp_to_usd
prices_usd['jpy'] = prices_usd['jpy'] * jpy_to_usd
prices_usd['rub'] = prices_usd['rub'] * rub_to_usd

# Ajouter la colonne 'genre principal' du df games à prices_usd

prices_usd = prices_usd.merge(games[['gameid', 'main_genre']], on='gameid', how='left')

# Vérification
prices_usd[['gameid', 'usd', 'eur', 'gbp', 'jpy', 'rub', 'date_acquired', 'plateforme', 'main_genre']].head()

C:\Users\ndiem\AppData\Local\Temp\ipykernel_23440\1747646993.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  prices_usd = prices_usd.replace('Null', np.nan)

,gameid,usd,eur,gbp,jpy,rub,date_acquired,plateforme,main_genre
0,749347_playstation,10.39,9.620370,6.341270,9.2928,10.219,2025-02-22,playstation,Visual Novel
1,749281_playstation,1.49,1.379630,0.944444,1.4520,NaN,2025-02-22,playstation,NaN
2,749839_playstation,14.99,13.879630,9.515873,15.2460,11.759,2025-02-22,playstation,unknown
3,749280_playstation,1.49,1.379630,0.944444,1.4520,NaN,2025-02-22,playstation,NaN
4,749375_playstation,0.99,0.453704,0.309524,1.0890,0.781,2025-02-22,playstation,Puzzle

#### Nettoyage des dataset purchased_game

In [33]:
#Ajout de la colonne plateforme
purchased_games_playstation['plateforme'] = 'playstation'
purchased_games_steam['plateforme'] = 'steam'
purchased_games_xbox['plateforme'] = 'xbox'

#concaténation des dataset purchased_games
purchased_games = pd.concat([purchased_games_playstation, purchased_games_steam, purchased_games_xbox], axis = 0, ignore_index= True)

#identifiant du joueur suffixé par le plateforme
purchased_games['playerid'] = purchased_games['playerid'].astype('str') + '_' + purchased_games['plateforme']

#ajout d'une colonne contenant le nombre de jeu acheté par joueur
purchased_games['games_bought'] = purchased_games['library'].str.split(',').str.len()

#conversion de la colonne library en list
purchased_games['library'] = purchased_games['library'].str.strip('[]').str.replace("'", "").str.split(',')

In [34]:
purchased_games

,playerid,library,plateforme,games_bought
0,268071_playstation,"[14972, 417905, 14693, 7742, 20162, 46198...",playstation,231.0
1,2218485_playstation,"[410618, 17456, 16034, 138931, 175202, 33...",playstation,867.0
2,253885_playstation,"[417808, 706747, 619583, 492711, 555631, ...",playstation,50.0
3,1911732_playstation,"[670209, 694794, 658551, 582894, 602666, ...",playstation,137.0
4,3098524_playstation,"[19362, 170350, 12653, 20230, 12750, 1814...",playstation,172.0
...,...,...,...,...
195591,698172_xbox,"[1225, 2937, 3597, 2114, 1142, 2152, 118...",xbox,125.0
195592,606933_xbox,"[1240, 1529, 1209, 590826, 185285, 628210...",xbox,124.0
195593,776695_xbox,"[7756, 183346, 18204, 15414, 17177, 11501...",xbox,258.0
195594,3069400_xbox,"[755119, 12694, 550303, 19170, 176537, 64...",xbox,219.0
195595,4017053_xbox,"[18204, 11683, 439438, 10948, 646081, 550...",xbox,56.0

#### Nettoyage du dataset review

In [35]:
#Remplissage des valeurs vide par unknown
reviews = reviews.fillna({'review': 'unknown'})

#Ajout de _steam aux identifiants gameid et playerid
reviews['gameid'] = reviews['gameid'].astype('str') + '_steam'
reviews['playerid'] = reviews['playerid'].astype('str') + '_steam'

# Crée une nouvelle colonne avec le nombre d'avis par jeu dans le dataframe reviews
reviews['reviews_count'] = reviews['gameid'].map(reviews['gameid'].value_counts())

reviews

,reviewid,playerid,gameid,review,helpful,funny,awards,posted,reviews_count
0,639543,76561198796340888_steam,730_steam,Goud gamę i have 3 vac ban acont but i stilll ...,0,0,0,2018-03-22,70529
1,639544,76561198028706627_steam,393380_steam,---{ Graphics }---☐ You forget what reality is...,0,0,0,2025-01-03,1522
2,639545,76561198028706627_steam,10_steam,One of the best FPS games :),0,0,0,2012-05-13,3489
3,639546,76561198049356580_steam,469600_steam,gayet güzel w3 havasını yakalıyor,0,0,0,2018-04-21,121
4,639547,76561198272817436_steam,730_steam,ONE OF THE GAMES I COME BACK TO,2,0,0,2020-01-23,70529
...,...,...,...,...,...,...,...,...,...
1204529,639538,76561198400392792_steam,550_steam,"Jogo muito divertido,principalmente com amigos",0,0,0,2018-01-02,6912
1204530,639539,76561198375531601_steam,739630_steam,jogo pika,0,0,1,2021-09-14,4165
1204531,639540,76561198375531601_steam,945360_steam,bullet,0,0,0,2020-09-17,3963
1204532,639541,76561198199434213_steam,412220_steam,Да мне нравится игра потому-что там есть кiлiб...,0,0,0,2024-11-03,101
1204533,639542,76561198994605189_steam,570_steam,оно тебя сожрет,0,0,0,2024-08-07,15759

In [36]:
# Créer un dataframe avec un classement des jeux les plus commentés

most_reviewed_games = reviews.groupby('gameid').size().reset_index(name='reviews_count').sort_values('reviews_count', ascending=False)
most_reviewed_games['sum_helpful'] = reviews.groupby('gameid')['helpful'].sum().reset_index(name='sum_helpful')['sum_helpful']
most_reviewed_games['sum_funny'] = reviews.groupby('gameid')['funny'].sum().reset_index(name='sum_funny')['sum_funny']
most_reviewed_games['sum_awards'] = reviews.groupby('gameid')['awards'].sum().reset_index(name='sum_awards')['sum_awards']

most_reviewed_games

              gameid  reviews_count  sum_helpful  sum_funny  sum_awards
45787      730_steam          70529        69629      27242       25922
41685      570_steam          15759        25678      10134        3827
41916   578080_steam          11743        36560      12855        4834
38189      440_steam          11409        25737       7910        3565
28978   271590_steam          10812        35052      11482        2865
...              ...            ...          ...        ...         ...
36790   394010_steam              1            6          0           0
18410  1968790_steam              1            4          0           0
18406  1968640_steam              1            6          0           0
51891   999030_steam              1            8          0           0
51886   998890_steam              1           37          0           0

[51910 rows x 5 columns]

In [37]:
#Export des dataframe dans des fichiers csv
#achievements.to_csv('clean_data/achievements.csv')
#games.to_csv('clean_data/games.csv')
#history.to_csv('clean_data/history.csv')
#players.to_csv('clean_data/players.csv')
#prices.to_csv('clean_data/prices.csv')
#purchased_games.to_csv('clean_data/purchased_games.csv')
#reviews.to_csv('clean_data/reviews.csv')
#prices_usd.to_csv('clean_data/prices_usd.csv')

#### Succès économique

##### Nombre d’exemplaires de jeux vendus par année ? par plateforme ? par genre ? Quelle est la corrélation entre le prix et le nombre de ventes ?

In [38]:
#Explode pour récupérer chaque jeu qu'un joueur a acheté
purchased_games_explode_library = purchased_games.explode('library')
purchased_games_explode_library.rename(columns=
    {
        'library':'gameid'
    },
    inplace=True
)

#ajout du suffixe de la plateforme dans l'identifiant du jeu
purchased_games_explode_library['gameid'] = purchased_games_explode_library['gameid'].astype('str') + '_' + purchased_games_explode_library['plateforme']
purchased_games_explode_library

                  playerid               gameid   plateforme  games_bought
0       268071_playstation    14972_playstation  playstation         231.0
0       268071_playstation   417905_playstation  playstation         231.0
0       268071_playstation    14693_playstation  playstation         231.0
0       268071_playstation     7742_playstation  playstation         231.0
0       268071_playstation    20162_playstation  playstation         231.0
...                    ...                  ...          ...           ...
195595        4017053_xbox            2526_xbox         xbox          56.0
195595        4017053_xbox            6889_xbox         xbox          56.0
195595        4017053_xbox            1128_xbox         xbox          56.0
195595        4017053_xbox            1155_xbox         xbox          56.0
195595        4017053_xbox            1141_xbox         xbox          56.0

[34875751 rows x 4 columns]

In [39]:
#jointure des prix, des jeux et des jeux achetés
purchased_games_price_join = pd.merge(left=prices_usd[['gameid','usd','date_acquired']], right=purchased_games_explode_library, on='gameid', how='inner')
purchased_games_price_join = pd.merge(left = games[['gameid','title','main_genre']], right = purchased_games_price_join, on ='gameid', how='inner')

#Ajout de l'année du prix
purchased_games_price_join['year_acquired'] = purchased_games_price_join['date_acquired'].dt.year

purchased_games_price_join

,gameid,title,main_genre,usd,date_acquired,playerid,plateforme,games_bought,year_acquired
0,746067_playstation,LEGO Horizon Adventures,Action-Adventure,59.99,2025-02-22,298261_playstation,playstation,182.0,2025
1,746067_playstation,LEGO Horizon Adventures,Action-Adventure,59.99,2025-02-22,14298_playstation,playstation,756.0,2025
2,746067_playstation,LEGO Horizon Adventures,Action-Adventure,59.99,2025-02-22,331411_playstation,playstation,436.0,2025
3,746067_playstation,LEGO Horizon Adventures,Action-Adventure,59.99,2025-02-22,421002_playstation,playstation,620.0,2025
4,746067_playstation,LEGO Horizon Adventures,Action-Adventure,59.99,2025-02-22,420407_playstation,playstation,270.0,2025
...,...,...,...,...,...,...,...,...,...
119435,459209_xbox,eFootball,Sports,NaN,2025-02-22,1144310_xbox,xbox,539.0,2025
119436,390740_xbox,Moving Out,unknown,24.99,2025-02-22,740591_xbox,xbox,262.0,2025
119437,337356_xbox,Farming Simulator 17 - Windows 10,unknown,NaN,2025-02-22,848396_xbox,xbox,3272.0,2025
119438,168046_xbox,Carnival Games,kinect,39.99,2025-02-22,1330135_xbox,xbox,414.0,2025
119439,163747_xbox,Fishing Sim World,sports,NaN,2025-02-22,4297198_xbox,xbox,84.0,2025

        La jointure se fait avec des inner join car certains jeux acheté ne  sont ni présents dans la table games ni dans la table price
        On ne garde que la devise usd pour les prix car les prix dans les autres devise ne correpondent pas aux taux de conversion de la date d'achat du jeu

In [40]:
#nombre total de ventes
nb_total_vente = purchased_games_price_join.shape[0]

#nombre de ventes par plateforme
nb_sale_by_plateforme = purchased_games_price_join.groupby(['plateforme']).size().reset_index(name='nb_sale').sort_values(by='nb_sale', ascending=False)

nb_sale_by_plateforme['rate_sale'] = nb_sale_by_plateforme['nb_sale'] / nb_total_vente
nb_sale_by_plateforme

    plateforme  nb_sale  rate_sale
1        steam    42249   0.353726
2         xbox    39458   0.330358
0  playstation    37733   0.315916

In [41]:
#nombre de ventes par genre
nb_sale_by_main_genre = purchased_games_price_join.groupby(['main_genre']).size().reset_index(name='nb_sale').sort_values(by='nb_sale', ascending=False)

nb_sale_by_main_genre['rate_sale'] = nb_sale_by_main_genre['nb_sale'] / nb_total_vente

nb_sale_by_main_genre.head(50)

                  main_genre  nb_sale  rate_sale
3                     Action    42606   0.356715
68                    Sports     7817   0.065447
32              Free to Play     6561   0.054931
83                   shooter     5085   0.042574
29      First Person Shooter     4647   0.038907
7                  Adventure     4563   0.038203
51                Open World     3919   0.032811
6                 Action-RPG     3610   0.030224
17                    Casual     3498   0.029287
73      Third Person Shooter     3375   0.028257
38                     Indie     2777   0.023250
65                Simulation     2164   0.018118
57                       RPG     2013   0.016854
5           Action-Adventure     2011   0.016837
85                    sports     1944   0.016276
60              Role Playing     1731   0.014493
58                    Racing     1616   0.013530
70                  Strategy     1532   0.012827
66         Simulation Racing     1381   0.011562
61  Role-Playing Games (RPG)     1371   0.011479
12                Automobile     1209   0.010122
86                  strategy     1149   0.009620
4              Action Horror     1125   0.009419
71                  Survival     1096   0.009176
87                   unknown     1052   0.008808
28                  Fighting      989   0.008280
55                Platformer      840   0.007033
14               Board Games      769   0.006438
59                 Roguelite      669   0.005601
13             Battle Royale      604   0.005057
27                    Family      519   0.004345
79                  fighting      503   0.004211
56                    Puzzle      484   0.004052
69                   Stealth      275   0.002302
42     Massively Multiplayer      265   0.002219
82                    puzzle      258   0.002160
41                Management      251   0.002101
10             Arcade Racing      250   0.002093
44              Metroidvania      235   0.001968
72           Survival Horror      231   0.001934
35              Hack & Slash      215   0.001800
47                    Music+      207   0.001733
0               "Beat em up"      167   0.001398
52                     Party      162   0.001356
31              Free To Play      155   0.001298
1              "Shoot em up"      146   0.001222
81                platformer      132   0.001105
84                    social      128   0.001072
20                Collection      101   0.000846
18                  Classics       97   0.000812

In [42]:
#nombre de ventes par genre et par plateforme

nb_sale_by_main_genre_plateforme = purchased_games_price_join.groupby(['main_genre', 'plateforme']).size().reset_index(name='nb_sale').sort_values(by='nb_sale', ascending=False)

nb_sale_by_main_genre_plateforme['rate_sale'] = nb_sale_by_main_genre_plateforme['nb_sale'] / nb_total_vente
nb_sale_by_main_genre_plateforme.head(50)

                   main_genre   plateforme  nb_sale  rate_sale
6                      Action        steam    32170   0.269340
7                      Action         xbox     7453   0.062400
57               Free to Play  playstation     6535   0.054714
122                    Sports  playstation     4660   0.039015
54       First Person Shooter         xbox     3821   0.031991
88                 Open World  playstation     3784   0.031681
153                   shooter         xbox     3612   0.030241
33                     Casual        steam     3446   0.028851
124                    Sports         xbox     3139   0.026281
5                      Action  playstation     2983   0.024975
135      Third Person Shooter         xbox     2777   0.023250
14                  Adventure  playstation     2113   0.017691
13                 Action-RPG         xbox     1942   0.016259
67                      Indie        steam     1673   0.014007
12                 Action-RPG  playstation     1668   0.013965
152                   shooter  playstation     1473   0.012333
15                  Adventure        steam     1388   0.011621
120         Simulation Racing         xbox     1366   0.011437
157                    sports         xbox     1239   0.010373
118                Simulation         xbox     1226   0.010265
128                  Strategy        steam     1215   0.010172
23                 Automobile  playstation     1208   0.010114
8               Action Horror  playstation     1100   0.009210
10           Action-Adventure  playstation     1076   0.009009
16                  Adventure         xbox     1062   0.008891
131                  Survival         xbox     1041   0.008716
162                   unknown         xbox     1000   0.008372
107              Role Playing  playstation      947   0.007929
11           Action-Adventure         xbox      935   0.007828
99                        RPG  playstation      911   0.007627
53       First Person Shooter  playstation      826   0.006916
110  Role-Playing Games (RPG)         xbox      826   0.006916
108              Role Playing         xbox      784   0.006564
51                   Fighting  playstation      780   0.006530
159                  strategy         xbox      779   0.006522
28                Board Games         xbox      744   0.006229
100                       RPG        steam      717   0.006003
156                    sports  playstation      705   0.005903
103                    Racing        steam      694   0.005810
66                      Indie  playstation      683   0.005718
104                    Racing         xbox      633   0.005300
134      Third Person Shooter  playstation      598   0.005007
25              Battle Royale  playstation      596   0.004990
109  Role-Playing Games (RPG)  playstation      545   0.004563
116                Simulation  playstation      537   0.004496
95                 Platformer  playstation      501   0.004195
50                     Family         xbox      498   0.004169
68                      Indie         xbox      421   0.003525
117                Simulation        steam      401   0.003357
101                       RPG         xbox      385   0.003223

In [43]:
#nombre de ventes par genre sur playsation

purchased_games_price_join_playstation = purchased_games_price_join[purchased_games_price_join['plateforme'] == 'playstation']

nb_total_vente_playstation = purchased_games_price_join_playstation.shape[0]

nb_sale_by_main_genre_playstation = purchased_games_price_join_playstation.groupby(['main_genre']).size().reset_index(name='nb_sale').sort_values(by='nb_sale', ascending=False)

nb_sale_by_main_genre_playstation['rate_sale'] = nb_sale_by_main_genre_playstation['nb_sale'] / nb_total_vente_playstation

nb_sale_by_main_genre_playstation.head(50)

                  main_genre  nb_sale  rate_sale
25              Free to Play     6535   0.173191
54                    Sports     4660   0.123499
39                Open World     3784   0.100284
3                     Action     2983   0.079055
7                  Adventure     2113   0.055999
6                 Action-RPG     1668   0.044205
67                   shooter     1473   0.039037
10                Automobile     1208   0.032014
4              Action Horror     1100   0.029152
5           Action-Adventure     1076   0.028516
48              Role Playing      947   0.025097
45                       RPG      911   0.024143
23      First Person Shooter      826   0.021891
22                  Fighting      780   0.020672
69                    sports      705   0.018684
30                     Indie      683   0.018101
59      Third Person Shooter      598   0.015848
11             Battle Royale      596   0.015795
49  Role-Playing Games (RPG)      545   0.014444
52                Simulation      537   0.014232
43                Platformer      501   0.013278
70                  strategy      370   0.009806
47                 Roguelite      344   0.009117
46                    Racing      289   0.007659
35              Metroidvania      233   0.006175
58           Survival Horror      207   0.005486
44                    Puzzle      183   0.004850
63                  fighting      182   0.004823
27              Hack & Slash      166   0.004399
40                     Party      127   0.003366
68                    social      125   0.003313
1              "Shoot em up"      118   0.003127
55                   Stealth       76   0.002014
33     Massively Multiplayer       75   0.001988
36            Music & Rhythm       74   0.001961
0               "Beat em up"       72   0.001908
18                Collection       70   0.001855
56                  Strategy       63   0.001670
24                   Fishing       58   0.001537
57                  Survival       55   0.001458
65                platformer       48   0.001272
66                    puzzle       47   0.001246
61              Visual Novel       46   0.001219
60                   Violent       41   0.001087
71                   unknown       34   0.000901
28                    Horror       32   0.000848
31              MUSIC/RHYTHM       30   0.000795
15                    Casual       26   0.000689
12               Board Games       25   0.000663
19                     Dance       24   0.000636

In [44]:
#nombre de ventes par genre sur steam

purchased_games_price_join_steam = purchased_games_price_join[purchased_games_price_join['plateforme'] == 'steam']

nb_total_vente_steam = purchased_games_price_join_steam.shape[0]

nb_sale_by_main_genre_steam = purchased_games_price_join_steam.groupby(['main_genre']).size().reset_index(name='nb_sale').sort_values(by='nb_sale', ascending=False)

nb_sale_by_main_genre_steam['rate_sale'] = nb_sale_by_main_genre_steam['nb_sale'] / nb_total_vente_steam

nb_sale_by_main_genre_steam.head(50)

               main_genre  nb_sale  rate_sale
0                  Action    32170   0.761438
4                  Casual     3446   0.081564
10                  Indie     1673   0.039599
1               Adventure     1388   0.032853
19               Strategy     1215   0.028758
13                    RPG      717   0.016971
14                 Racing      694   0.016426
16             Simulation      401   0.009491
11  Massively Multiplayer      189   0.004473
8            Free To Play      155   0.003669
2    Animation & Modeling       53   0.001254
12                 Nudity       31   0.000734
20              Utilities       29   0.000686
3        Audio Production       20   0.000473
18                 Sports       18   0.000426
22                unknown       18   0.000426
21                Violent       17   0.000402
15         Sexual Content        4   0.000095
6            Early Access        4   0.000095
7               Education        3   0.000071
5   Design & Illustration        2   0.000047
9        Game Development        1   0.000024
17      Software Training        1   0.000024

In [45]:
#nombre de ventes par genre sur xbox

purchased_games_price_join_xbox = purchased_games_price_join[purchased_games_price_join['plateforme'] == 'xbox']

nb_total_vente_xbox = purchased_games_price_join_xbox.shape[0]

nb_sale_by_main_genre_xbox = purchased_games_price_join_xbox.groupby(['main_genre']).size().reset_index(name='nb_sale').sort_values(by='nb_sale', ascending=False)

nb_sale_by_main_genre_xbox['rate_sale'] = nb_sale_by_main_genre_xbox['nb_sale'] / nb_total_vente_xbox

nb_sale_by_main_genre_xbox.head(50)

                          main_genre  nb_sale  rate_sale
2                             Action     7453   0.188884
22              First Person Shooter     3821   0.096837
63                           shooter     3612   0.091540
50                            Sports     3139   0.079553
55              Third Person Shooter     2777   0.070379
5                         Action-RPG     1942   0.049217
49                 Simulation Racing     1366   0.034619
65                            sports     1239   0.031400
48                        Simulation     1226   0.031071
6                          Adventure     1062   0.026915
53                          Survival     1041   0.026382
67                           unknown     1000   0.025343
4                   Action-Adventure      935   0.023696
45          Role-Playing Games (RPG)      826   0.020934
44                      Role Playing      784   0.019869
66                          strategy      779   0.019743
11                       Board Games      744   0.018855
42                            Racing      633   0.016042
20                            Family      498   0.012621
26                             Indie      421   0.010670
41                               RPG      385   0.009757
39                        Platformer      339   0.008591
43                         Roguelite      325   0.008237
59                          fighting      321   0.008135
40                            Puzzle      301   0.007628
52                          Strategy      254   0.006437
8                      Arcade Racing      234   0.005930
28                        Management      228   0.005778
62                            puzzle      211   0.005347
21                          Fighting      209   0.005297
51                           Stealth      199   0.005043
34                            Music+      188   0.004765
36                        Open World      135   0.003421
0                       "Beat em up"       95   0.002408
61                        platformer       84   0.002129
14                          Classics       83   0.002104
60                            kinect       53   0.001343
25                      Hack & Slash       49   0.001242
32  Multi-player Online Battle Arena       40   0.001014
37                             Party       35   0.000887
16                        Collection       31   0.000786
35                             Naval       30   0.000760
1                      "Shoot em up"       28   0.000710
15             Collectable Card Game       27   0.000684
23                      Free to Play       26   0.000659
56                             Video       26   0.000659
13                            Casual       26   0.000659
3                      Action Horror       25   0.000634
54                   Survival Horror       24   0.000608
33                    Music & Rhythm       20   0.000507

In [46]:
#Nombre de vente par année
nb_sale_by_year = purchased_games_price_join.groupby(['year_acquired']).size().reset_index(name='nb_sale').sort_values(by='nb_sale', ascending=False)
nb_sale_by_year

   year_acquired  nb_sale
1           2025    77200
0           2024    42240

In [47]:
#correlation entre le nombre de vente et le prix
sales_and_prices = purchased_games_price_join.groupby(['gameid','usd']).size().reset_index(name='nb_sale').sort_values(by='nb_sale', ascending=False)

sales_and_prices['rate_sale'] = sales_and_prices['nb_sale'] / nb_total_vente
sales_and_prices.sort_values(by='rate_sale', ascending=False)

sales_and_prices.head(50)

                  gameid     usd  nb_sale  rate_sale
185             10_steam    1.99    10577   0.088555
3316          4000_steam    5.99     2358   0.019742
4825           550_steam    1.99     1938   0.016226
1945        227300_steam    4.99      939   0.007862
6656    7779_playstation   19.79      919   0.007694
6998           9637_xbox   19.99      870   0.007284
6231            70_steam    1.99      850   0.007117
6553           7545_xbox   39.99      828   0.006932
2081           240_steam    1.99      712   0.005961
6084         693001_xbox  109.99      702   0.005877
1757            20_steam    1.24      560   0.004689
6562         755120_xbox   69.99      514   0.004303
92          105600_steam    4.99      468   0.003918
1512          19170_xbox   19.99      448   0.003751
1880           220_steam    1.99      444   0.003717
1160  167482_playstation   59.99      400   0.003349
6650           7756_xbox   39.99      393   0.003290
4412           500_steam    1.99      370   0.003098
1739         20900_steam    1.49      351   0.002939
2965           3597_xbox   59.99      341   0.002855
6165  702561_playstation   59.99      302   0.002528
4660           5276_xbox   39.99      298   0.002495
3330           400_steam    1.99      297   0.002487
2742  333860_playstation   59.99      291   0.002436
636           13420_xbox   19.99      265   0.002219
5483           620_steam    1.99      263   0.002202
4336  492711_playstation   19.79      262   0.002194
461            1226_xbox   39.99      251   0.002101
5439         616624_xbox   69.99      249   0.002085
2673         330320_xbox   29.99      226   0.001892
4487            50_steam    1.24      225   0.001884
2423          29053_xbox   59.99      215   0.001800
4317  490129_playstation   69.99      213   0.001783
637           13421_xbox   19.99      206   0.001725
2452           2937_xbox   19.99      193   0.001616
6324  721802_playstation   69.99      190   0.001591
2097        242760_steam    3.99      187   0.001566
4860  553947_playstation   69.99      185   0.001549
5801  655314_playstation   69.99      176   0.001474
4690    5306_playstation   19.99      174   0.001457
6302  717169_playstation   69.99      172   0.001440
6057         690579_xbox   27.99      172   0.001440
5495  622089_playstation   69.99      170   0.001423
1759          2100_steam    2.49      169   0.001415
5903  670209_playstation   69.99      169   0.001415
6300  716567_playstation   69.99      168   0.001407
2958          3590_steam    4.99      163   0.001365
4287  487113_playstation   49.99      159   0.001331
4861  553950_playstation   69.99      158   0.001323
2474          2990_steam    1.99      156   0.001306

In [48]:
#Fichiers de sortie
nb_sale_by_plateforme.to_csv('out/nb_sale/nb_sale_by_plateforme.csv', index=False)
nb_sale_by_main_genre.to_csv('out/nb_sale/nb_sale_by_main_genre.csv', index=False)
nb_sale_by_main_genre_plateforme.to_csv('out/nb_sale/nb_sale_by_main_genre_plateforme.csv', index=False)
nb_sale_by_main_genre_playstation.to_csv('out/nb_sale/nb_sale_by_main_genre_playstation.csv', index=False)
nb_sale_by_main_genre_steam.to_csv('out/nb_sale/nb_sale_by_main_genre_steam.csv', index=False)
nb_sale_by_main_genre_xbox.to_csv('out/nb_sale/nb_sale_by_main_genre_xbox.csv', index=False)
nb_sale_by_year.to_csv('out/nb_sale/nb_sale_by_year.csv', index=False)
sales_and_prices.to_csv('out/nb_sale/sales_and_prices.csv', index=False)

#### Top 10 des meilleurs développeur et publishers (+ chiffre d’affaires)

In [49]:
#jointure entre la dataframe jeu, prix et purchased_game
purchased_games_developers_publishers = pd.merge(left=prices_usd[['gameid','usd','date_acquired']], right=purchased_games_explode_library['gameid'], on='gameid', how='inner')
purchased_games_developers_publishers = pd.merge(left = games[['gameid','developers','publishers','plateforme']], right = purchased_games_developers_publishers, on ='gameid', how='inner')

purchased_games_developers_publishers

,gameid,developers,publishers,plateforme,usd,date_acquired
0,746067_playstation,"[Guerrilla Games, Studio Gobo]",[Sony Interactive Entertainment],playstation,59.99,2025-02-22
1,746067_playstation,"[Guerrilla Games, Studio Gobo]",[Sony Interactive Entertainment],playstation,59.99,2025-02-22
2,746067_playstation,"[Guerrilla Games, Studio Gobo]",[Sony Interactive Entertainment],playstation,59.99,2025-02-22
3,746067_playstation,"[Guerrilla Games, Studio Gobo]",[Sony Interactive Entertainment],playstation,59.99,2025-02-22
4,746067_playstation,"[Guerrilla Games, Studio Gobo]",[Sony Interactive Entertainment],playstation,59.99,2025-02-22
...,...,...,...,...,...,...
119435,459209_xbox,[Konami Digital Entertainment],[Konami Digital Entertainment],xbox,NaN,2025-02-22
119436,390740_xbox,[unknown],[unknown],xbox,24.99,2025-02-22
119437,337356_xbox,[unknown],[unknown],xbox,NaN,2025-02-22
119438,168046_xbox,[unknown],[2K Play],xbox,39.99,2025-02-22
119439,163747_xbox,[Dovetail Games],[unknown],xbox,NaN,2025-02-22

In [50]:
#conversion de la colonne prix en décimal
purchased_games_developers_publishers['usd'] = pd.to_numeric(purchased_games_developers_publishers['usd'],errors='coerce').astype('float64')

#Conversion de la colonne developer en string afin de pouvoir faire un group by
purchased_games_developers_publishers['developers'] = purchased_games_developers_publishers['developers'].astype('str')

total_revenue = purchased_games_developers_publishers['usd'].sum()

#Top 10 en CA des developers
best_developer = purchased_games_developers_publishers.groupby(['developers', 'plateforme'])['usd'].sum().reset_index(name='revenue').sort_values(by='revenue', ascending=False).head(10)

best_developer['rate_revenue'] = best_developer['revenue'] / total_revenue

best_developer

                     developers   plateforme   revenue  rate_revenue
1750         ['GSC Game World']         xbox  77292.94      0.046831
2599           ['MachineGames']         xbox  36014.84      0.021821
87           ['343 industries']         xbox  35150.70      0.021297
5180                ['unknown']         xbox  34068.62      0.020642
4670                  ['Valve']        steam  31976.41      0.019374
5121         ['rockstar north']         xbox  31950.96      0.019359
4472               ['Treyarch']         xbox  30614.02      0.018549
2796                 ['Mojang']         xbox  30484.68      0.018470
4036            ['Square Enix']  playstation  25803.22      0.015634
514   ['Bethesda Game Studios']         xbox  25304.35      0.015332

In [51]:
#Conversion de la colonne publishers en string afin de pouvoir faire un group by
purchased_games_developers_publishers['publishers'] = purchased_games_developers_publishers['publishers'].astype('str')

#Top 10 en CA des publishers
best_publishers = purchased_games_developers_publishers.groupby(['publishers', 'plateforme'])['usd'].sum().reset_index(name='revenue').sort_values(by='revenue', ascending=False).head(10)

best_publishers['rate_revenue'] = best_publishers['revenue'] / total_revenue
best_publishers

                              publishers   plateforme    revenue  rate_revenue
2534  ['Sony Interactive Entertainment']  playstation  127733.09      0.077392
1724               ['Microsoft Studios']         xbox   78232.83      0.047401
1104                  ['GSC Game World']         xbox   77292.94      0.046831
362               ['Bethesda Softworks']         xbox   74849.82      0.045351
2320                  ['Rockstar Games']  playstation   54511.02      0.033028
2322                  ['Rockstar Games']         xbox   54375.93      0.032946
885                  ['Electronic Arts']  playstation   52530.26      0.031828
887                  ['Electronic Arts']         xbox   51645.05      0.031291
132                       ['Activision']         xbox   48439.00      0.029349
2928                           ['Valve']        steam   46404.63      0.028116

In [52]:
#Fichiers de sortie
best_developer.to_csv('out/best_publisher_and_developer/best_developer.csv', index=False)
best_publishers.to_csv('out/best_publisher_and_developer/best_publishers.csv', index=False)

#### Succès d'adoption

#### Quel est le taux d’achievements par jeux ? par joueur ? par année ? par période ?

In [53]:
#jointure des dataset achivevement, game et history

achievements_main_columns = achievements[['achievementid','gameid','plateforme']]
history_main_columns = history[['playerid','achievementid','date_acquired', 'acquired_year']]
games_main_columns = games[['gameid', 'title']]

achievements_main_columns.to_csv('clean_data/achievements_main_columns.csv', index=False)
history_main_columns.to_csv('clean_data/history_main_columns.csv', index=False)
games_main_columns.to_csv('clean_data/games_main_columns.csv', index=False)

history_achievement_merge = pd.merge(left=achievements_main_columns, right=history_main_columns, on='achievementid', how='left')
history_achievement_game_merge = pd.merge(left=history_achievement_merge, right=games_main_columns, on='gameid', how='left')

#Remplacement des valeurs vide de la colonne title par unknown
history_achievement_game_merge.fillna(value={'title':'unknown'}, inplace=True)

history_achievement_game_merge.head(50)

,achievementid,gameid,plateforme,playerid,date_acquired,acquired_year,title
0,749980_6103480,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
1,749980_6103481,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
2,749980_6103482,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
3,749980_6103483,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
4,749980_6103484,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
5,749980_6103485,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
6,749980_6103486,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
7,749980_6103487,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
8,749980_6103488,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
9,749980_6103489,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
10,749980_6103490,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
11,749980_6103491,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
12,749980_6103492,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
13,749980_6103493,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
14,749980_6103494,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
15,749980_6103495,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
16,749980_6103496,749980_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
17,749965_6103443,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
18,749965_6103444,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
19,749965_6103445,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
20,749965_6103446,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
21,749965_6103447,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
22,749965_6103448,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
23,749965_6103449,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
24,749965_6103450,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
25,749965_6103451,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
26,749965_6103452,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
27,749965_6103453,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
28,749965_6103454,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
29,749965_6103455,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
30,749965_6103456,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
31,749965_6103457,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
32,749965_6103458,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
33,749965_6103459,749965_playstation,playstation,NaN,NaT,NaN,Power Racing Bundle 2
34,749909_6103321,749909_playstation,playstation,NaN,NaT,NaN,unknown
35,749909_6103322,749909_playstation,playstation,312151_playstation,2024-11-24 06:47:45,2024.0,unknown
36,749909_6103322,749909_playstation,playstation,4482527_playstation,2024-11-30 07:09:59,2024.0,unknown
37,749909_6103323,749909_playstation,playstation,312151_playstation,2024-12-13 03:39:07,2024.0,unknown
38,749909_6103323,749909_playstation,playstation,4482527_playstation,2024-11-30 07:54:12,2024.0,unknown
39,749909_6103324,749909_playstation,playstation,4482527_playstation,2024-12-01 08:10:42,2024.0,unknown
40,749909_6103325,749909_playstation,playstation,4482527_playstation,2024-12-02 04:54:46,2024.0,unknown
41,749909_6103326,749909_playstation,playstation,312151_playstation,2024-11-24 06:47:45,2024.0,unknown
42,749909_6103326,749909_playstation,playstation,4482527_playstation,2024-11-30 07:12:36,2024.0,unknown
43,749909_6103327,749909_playstation,playstation,312151_playstation,2024-11-24 07:27:52,2024.0,unknown
44,749909_6103327,749909_playstation,playstation,4482527_playstation,2024-11-30 07:39:59,2024.0,unknown
45,749909_6103328,749909_playstation,playstation,312151_playstation,2024-11-25 10:39:55,2024.0,unknown
46,749909_6103328,749909_playstation,playstation,4482527_playstation,2024-12-01 07:35:25,2024.0,unknown
47,749909_6103329,749909_playstation,playstation,312151_playstation,2024-12-07 01:25:28,2024.0,unknown
48,749909_6103329,749909_playstation,playstation,4482527_playstation,2024-12-02 04:08:46,2024.0,unknown
49,749909_6103330,749909_playstation,playstation,4482527_playstation,2024-12-02 04:26:16,2024.0,unknown

        Les lignes contenant les des valeurs playerid, date_acquired et acquired_year à vide correspondent à des achievement non atteints par les joueurs
        Les valeurs title qui sont vides correpondent à des jeux qui sont dans la table achivement mais qui ne sont pas dans la table game

##### Taux d'achivement terminé

In [54]:
#Récupération des achievement terminés
achievement_finish = history_achievement_game_merge[history_achievement_game_merge['playerid'].notnull()]
achievement_finish

,achievementid,gameid,plateforme,playerid,date_acquired,acquired_year,title
35,749909_6103322,749909_playstation,playstation,312151_playstation,2024-11-24 06:47:45,2024.0,unknown
36,749909_6103322,749909_playstation,playstation,4482527_playstation,2024-11-30 07:09:59,2024.0,unknown
37,749909_6103323,749909_playstation,playstation,312151_playstation,2024-12-13 03:39:07,2024.0,unknown
38,749909_6103323,749909_playstation,playstation,4482527_playstation,2024-11-30 07:54:12,2024.0,unknown
39,749909_6103324,749909_playstation,playstation,4482527_playstation,2024-12-01 08:10:42,2024.0,unknown
...,...,...,...,...,...,...,...
46830990,753408_6165623,753408_xbox,xbox,2705269_xbox,2024-12-21 19:10:26,2024.0,Magical Backpack
46830991,753408_6165624,753408_xbox,xbox,2705269_xbox,2024-12-21 19:10:52,2024.0,Magical Backpack
46830992,753408_6165625,753408_xbox,xbox,2705269_xbox,2024-12-21 19:11:07,2024.0,Magical Backpack
46830993,753408_6165626,753408_xbox,xbox,2705269_xbox,2024-12-21 19:11:16,2024.0,Magical Backpack
46831020,18709_6138513,18709_xbox,xbox,792346_xbox,2024-12-14 22:02:32,2024.0,The Long Dark (Game Preview)

In [55]:
#Taux des achivement terminé
finish_achivement_rate = achievement_finish.shape[0] / history_achievement_game_merge.shape[0]
finish_achivement_rate = pd.Series(finish_achivement_rate).reset_index(name='finish_achivement_rate')[['finish_achivement_rate']]

finish_achivement_rate

   finish_achivement_rate
0                0.971074

##### Taux d'achivement terminé par plateforme

In [56]:
nb_total_achievements_by_plateforme = history_achievement_game_merge.groupby(['plateforme']).size().reset_index(name = 'nb_achievement_total_by_plateforme')

nb_achievements_finished_by_plateforme = achievement_finish.groupby(['plateforme']).size().reset_index(name = 'nb_achievement_finish')

taux_achievement_by_plateforme = pd.merge(left=nb_total_achievements_by_plateforme, right=nb_achievements_finished_by_plateforme, on='plateforme', how='inner')

taux_achievement_by_plateforme['rate_finished_achivement'] = taux_achievement_by_plateforme['nb_achievement_finish'] / taux_achievement_by_plateforme['nb_achievement_total_by_plateforme'] 
taux_achievement_by_plateforme.sort_values(by='rate_finished_achivement', ascending=False)

,plateforme,nb_achievement_total_by_plateforme,nb_achievement_finish,rate_finished_achivement
2,xbox,15328384,15275900,0.996576
0,playstation,19760296,19510083,0.987338
1,steam,11745918,10693879,0.910434

##### Taux d'achivement terminé par jeu

In [57]:
nb_total_achievements_by_game = history_achievement_game_merge.groupby(['gameid', 'title', 'plateforme']).size().reset_index(name = 'nb_achievement_total_by_game')

nb_achievements_finished_by_game = achievement_finish.groupby(['gameid', 'title', 'plateforme']).size().reset_index(name = 'nb_achievement_finish')

taux_achievement_by_game = pd.merge(left=nb_total_achievements_by_game, right=nb_achievements_finished_by_game, on=['gameid','title', 'plateforme'], how='inner')

taux_achievement_by_game['rate_finished_achivement'] = taux_achievement_by_game['nb_achievement_finish'] / taux_achievement_by_game['nb_achievement_total_by_game'] 

taux_achievement_by_game.sort_values(by='rate_finished_achivement', ascending=False).head(50)

,gameid,title,plateforme,nb_achievement_total_by_game,nb_achievement_finish,rate_finished_achivement
46952,9_playstation,SUPER STARDUST HD,playstation,3047,3047,1.0
0,1000010_steam,Crown Trick,steam,283,283,1.0
46951,99_playstation,Buzz!: Quiz TV,playstation,2134,2134,1.0
46950,999_playstation,unknown,playstation,167,167,1.0
46949,9999_playstation,Lost Dimension,playstation,112,112,1.0
46932,9984_xbox,Magnetic: Cage Closed,xbox,49,49,1.0
46930,9981_xbox,Blues and Bullets - Episode 1,xbox,615,615,1.0
46929,997_playstation,Ragnarok Odyssey,playstation,2461,2461,1.0
46928,9977_xbox,Goat Simulator: Mmore Goatz Edition,xbox,847,847,1.0
46923,997010_steam,Police Simulator: Patrol Officers,steam,385,385,1.0
46922,99700_steam,NightSky,steam,109,109,1.0
46921,996_playstation,Tiger Woods PGA TOUR 13,playstation,678,678,1.0
46920,9968_xbox,Tony Hawk's Pro Skater 5,xbox,763,763,1.0
46919,9967_xbox,Quest of Dungeons,xbox,394,394,1.0
46917,996580_steam,Spyro™ Reignited Trilogy,steam,3106,3106,1.0
36,1003_playstation,Captain Morgane and the Golden Turtle,playstation,119,119,1.0
35,1003890_steam,Blacksad: Under the Skin,steam,206,206,1.0
32,1003520_steam,Hentai Crush,steam,138,138,1.0
30,1002_playstation,unknown,playstation,115,115,1.0
29,10029_xbox,Nightmares from the Deep: The Cursed Heart,xbox,942,942,1.0
28,10028_playstation,Armello,playstation,575,575,1.0
27,10027_playstation,Grow Home,playstation,1727,1727,1.0
25,10025_playstation,Rugby World Cup 2015,playstation,87,87,1.0
24,1002560_steam,Tiny Snow,steam,27,27,1.0
23,10024_playstation,Zombie Vikings,playstation,585,585,1.0
22,1002430_steam,Victory Road,steam,2,2,1.0
49,10050_xbox,Blood Bowl 2,xbox,613,613,1.0
48,1004_playstation,unknown,playstation,225,225,1.0
47,10048_xbox,Imperia Online,xbox,399,399,1.0
46,1004860_steam,The Secret Order 7: Shadow Breach,steam,62,62,1.0
42,1004610_steam,Roombo: First Blood,steam,42,42,1.0
38,1004240_steam,Hentai Girl Karen,steam,3360,3360,1.0
46916,995_playstation,unknown,playstation,308,308,1.0
46914,9957_playstation,unknown,playstation,186,186,1.0
46912,9955_playstation,unknown,playstation,99,99,1.0
46911,9954_playstation,Frozen Free Fall: Snowball Fight,playstation,1180,1180,1.0
46910,9953_playstation,unknown,playstation,91,91,1.0
46909,9952_playstation,unknown,playstation,342,342,1.0
46907,994_playstation,Disgaea 3: Absence of Detention,playstation,1072,1072,1.0
46905,9948_xbox,Transformers: Devastation,xbox,42,42,1.0
46904,9947_xbox,Goat Simulator: Mmore Goatz Edition,xbox,1666,1666,1.0
46901,9942_xbox,Mad Max,xbox,11376,11376,1.0
68,1006_playstation,unknown,playstation,40,40,1.0
66,10068_xbox,unknown,xbox,19185,19185,1.0
65,10067_playstation,unknown,playstation,324,324,1.0
64,1006400_steam,Fantasia of the Wind 2 风之幻想曲 第二部,steam,78,78,1.0
63,10062_xbox,Rugby World Cup 2015,xbox,233,233,1.0
61,10060_xbox,Leo's Fortune,xbox,482,482,1.0
60,1005_playstation,New Little King's Story,playstation,2422,2422,1.0
58,10058_xbox,ClusterPuck 99,xbox,580,580,1.0

##### Taux d'achivement terminé par joueur

In [58]:
rate_achivement_by_player = achievement_finish['playerid'].nunique() / players.shape[0]
rate_achivement_by_player = pd.Series(rate_achivement_by_player).reset_index(name='rate_achivement_by_player')[['rate_achivement_by_player']]

rate_achivement_by_player

   rate_achivement_by_player
0                    0.01404

In [59]:
nb_achivements_finished_by_player = history_achievement_game_merge.groupby(['playerid','plateforme']).size().reset_index(name='nb_achivement_by_player')
nb_achivements_finished_by_player = pd.merge(left=taux_achievement_by_plateforme[['plateforme', 'nb_achievement_total_by_plateforme']], right=nb_achivements_finished_by_player, on='plateforme')
nb_achivements_finished_by_player['nb_achivements_finished_by_player_rate'] = nb_achivements_finished_by_player['nb_achivement_by_player'] / nb_achivements_finished_by_player['nb_achievement_total_by_plateforme']

nb_achivements_finished_by_player.sort_values(by='nb_achivements_finished_by_player_rate', ascending=False).head(50)

,plateforme,nb_achievement_total_by_plateforme,playerid,nb_achivement_by_player,nb_achivements_finished_by_player_rate
7704,steam,11745918,76561198298591193_steam,545949,0.046480
5169,steam,11745918,76561197987596512_steam,300117,0.025551
5164,steam,11745918,76561197987340453_steam,264852,0.022548
7267,steam,11745918,76561198222963584_steam,259215,0.022069
6278,steam,11745918,76561198099241446_steam,230179,0.019597
7757,steam,11745918,76561198307860947_steam,208658,0.017764
7588,steam,11745918,76561198280871241_steam,204901,0.017444
7022,steam,11745918,76561198180488782_steam,154020,0.013113
7177,steam,11745918,76561198206518029_steam,145094,0.012353
7820,steam,11745918,76561198314830742_steam,143497,0.012217
2355,playstation,19760296,3065998_playstation,157477,0.007969
9831,steam,11745918,76561199643317571_steam,81209,0.006914
7119,steam,11745918,76561198198241211_steam,80201,0.006828
5478,steam,11745918,76561198024195554_steam,78393,0.006674
9686,steam,11745918,76561199227667010_steam,70562,0.006007
14821,xbox,15328384,848727_xbox,89780,0.005857
8340,steam,11745918,76561198404477968_steam,66766,0.005684
14811,xbox,15328384,848581_xbox,86151,0.005620
8074,steam,11745918,76561198354561666_steam,64137,0.005460
8372,steam,11745918,76561198412525885_steam,62360,0.005309
5954,steam,11745918,76561198071675053_steam,60919,0.005186
8302,steam,11745918,76561198398342040_steam,60264,0.005131
14818,xbox,15328384,848676_xbox,78498,0.005121
6600,steam,11745918,76561198132280885_steam,55811,0.004752
8814,steam,11745918,76561198859357960_steam,55307,0.004709
9191,steam,11745918,76561199000526911_steam,53047,0.004516
14780,xbox,15328384,848079_xbox,68298,0.004456
10570,xbox,15328384,2193927_xbox,66782,0.004357
8231,steam,11745918,76561198382829279_steam,50901,0.004334
14814,xbox,15328384,848604_xbox,66307,0.004326
5911,steam,11745918,76561198068234083_steam,50541,0.004303
5721,steam,11745918,76561198050833283_steam,47521,0.004046
14819,xbox,15328384,848677_xbox,61707,0.004026
6478,steam,11745918,76561198120266850_steam,47255,0.004023
11632,xbox,15328384,4685534_xbox,60839,0.003969
10206,xbox,15328384,1358636_xbox,60682,0.003959
14815,xbox,15328384,848645_xbox,60615,0.003954
7882,steam,11745918,76561198324276106_steam,45845,0.003903
11202,xbox,15328384,3929484_xbox,59702,0.003895
6285,steam,11745918,76561198099809175_steam,44795,0.003814
2889,playstation,19760296,336474_playstation,73075,0.003698
7595,steam,11745918,76561198281678574_steam,43163,0.003675
10232,xbox,15328384,1520291_xbox,55485,0.003620
14804,xbox,15328384,848525_xbox,55407,0.003615
9051,steam,11745918,76561198962631808_steam,41950,0.003571
10719,xbox,15328384,2466527_xbox,54646,0.003565
5863,steam,11745918,76561198062900972_steam,40667,0.003462
3628,playstation,19760296,381705_playstation,67034,0.003392
14817,xbox,15328384,848662_xbox,51882,0.003385
2842,playstation,19760296,333392_playstation,66380,0.003359

##### Nombre d'achievement terminé par date

In [60]:
achievement_finish_by_date = achievement_finish.groupby(['date_acquired', 'plateforme']).size().reset_index(name='nb_achievement_by_date')
achievement_finish_by_date.sort_values(by='nb_achievement_by_date', ascending=False).head(50)

               date_acquired plateforme  nb_achievement_by_date
28213729 2021-11-27 21:41:27      steam                   10979
31973232 2023-01-30 16:04:55      steam                   10979
21058050 2019-07-28 19:44:37      steam                   10000
18908809 2018-09-28 07:05:54      steam                   10000
18908806 2018-09-28 07:05:52      steam                   10000
18908810 2018-09-28 07:05:55      steam                   10000
18908808 2018-09-28 07:05:53      steam                   10000
28213739 2021-11-27 21:42:22      steam                    9821
35624106 2024-05-08 14:34:22      steam                    9821
17357032 2018-02-17 01:51:12      steam                    9818
35624097 2024-05-08 14:32:36      steam                    5394
28213708 2021-11-27 21:39:26      steam                    5394
17645986 2018-03-28 14:46:30      steam                    5001
35951119 2024-06-26 05:22:57      steam                    5001
18912046 2018-09-28 22:06:00      steam                    5001
20779030 2019-06-26 20:37:21      steam                    5000
18181365 2018-06-10 15:09:47      steam                    5000
18334561 2018-07-03 21:54:17      steam                    5000
17839775 2018-04-24 16:03:57      steam                    5000
17710299 2018-04-06 02:47:18      steam                    5000
18908713 2018-09-28 06:46:37      steam                    5000
31117829 2022-10-30 17:20:22      steam                    5000
18908712 2018-09-28 06:46:36      steam                    5000
17789995 2018-04-16 07:45:44      steam                    5000
18360223 2018-07-07 04:50:17      steam                    5000
36489678 2024-09-10 06:44:40      steam                    5000
18577816 2018-08-10 03:40:13      steam                    5000
17811172 2018-04-20 06:14:42      steam                    5000
18108392 2018-05-31 23:43:22      steam                    5000
30433529 2022-08-08 15:09:23      steam                    5000
20827923 2019-06-29 23:00:32      steam                    5000
17646007 2018-03-28 14:51:04      steam                    5000
17646065 2018-03-28 15:02:46      steam                    5000
18334518 2018-07-03 21:47:17      steam                    5000
18568893 2018-08-08 19:23:19      steam                    5000
18908711 2018-09-28 06:46:35      steam                    5000
29934716 2022-06-20 21:22:08      steam                    5000
17790036 2018-04-16 07:53:56      steam                    5000
28180589 2021-11-24 07:10:22      steam                    5000
18568953 2018-08-08 19:36:13      steam                    5000
18568971 2018-08-08 19:39:32      steam                    5000
18049559 2018-05-24 00:56:32      steam                    5000
17893398 2018-05-02 00:32:07      steam                    5000
18908674 2018-09-28 06:38:51      steam                    5000
17712307 2018-04-06 10:38:29      steam                    5000
18049578 2018-05-24 00:58:44      steam                    5000
18908710 2018-09-28 06:46:34      steam                    5000
22158457 2020-01-03 17:23:18      steam                    5000
17790031 2018-04-16 07:53:14      steam                    5000
17712346 2018-04-06 10:51:31      steam                    5000

In [61]:
#Fichiers de sortie
finish_achivement_rate.to_csv('out/rate_achievement/finish_achivement_rate.csv', index = False)
taux_achievement_by_plateforme.to_csv('out/rate_achievement/taux_achievement_by_plateforme.csv', index = False)
taux_achievement_by_game.to_csv('out/rate_achievement/taux_achievement_by_game.csv', index = False)
rate_achivement_by_player.to_csv('out/rate_achievement/rate_achivement_by_player.csv', index = False)
nb_achivements_finished_by_player.to_csv('out/rate_achievement/nb_achivements_finished_by_player.csv', index = False)
achievement_finish_by_date.to_csv('out/rate_achievement/achievement_finish_by_date.csv', index = False)

##### Est-ce que les joueurs qui achètent beaucoup de jeux vont acheter des jeux plus chers que les autres ?

In [62]:
#Jointure des dataset purchased_games et prix
purchased_games_price_join = pd.merge(left=prices_usd[['gameid','usd']], right=purchased_games_explode_library, on='gameid', how='inner')
purchased_games_price_join.head()

               gameid    usd            playerid   plateforme  games_bought
0  746067_playstation  59.99  298261_playstation  playstation         182.0
1  746067_playstation  59.99   14298_playstation  playstation         756.0
2  746067_playstation  59.99  331411_playstation  playstation         436.0
3  746067_playstation  59.99  421002_playstation  playstation         620.0
4  746067_playstation  59.99  420407_playstation  playstation         270.0

In [63]:
#somme des prix des jeux acheté par nombre de jeux achetés
sum_price_brouhgt_by_player =  purchased_games_price_join.groupby(['playerid', 'games_bought'])['usd'].sum().reset_index(name = 'sum_bought_by_player').sort_values(by='games_bought', ascending=False)
sum_price_brouhgt_by_player['plateforme'] = sum_price_brouhgt_by_player['playerid'].str.split('_').str[1]
sum_price_brouhgt_by_player.head(50)

,playerid,games_bought,sum_bought_by_player,plateforme
90532,76561198094227663_steam,32463.0,0.99,steam
80350,76561197962473290_steam,28196.0,1.99,steam
81167,76561197976968076_steam,25707.0,1.99,steam
84479,76561198027214426_steam,25100.0,1.99,steam
112291,76561198842864763_steam,25085.0,1.99,steam
80854,76561197970825215_steam,25041.0,1.99,steam
81282,76561197979667190_steam,24170.0,1.99,steam
85235,76561198037809069_steam,22844.0,0.99,steam
114294,76561198890581618_steam,22465.0,1.99,steam
106983,76561198367471798_steam,21910.0,1.99,steam
85814,76561198044387084_steam,21717.0,1.99,steam
91248,76561198102767019_steam,21406.0,0.99,steam
81996,76561197992548975_steam,21285.0,1.99,steam
109222,76561198417144062_steam,20820.0,1.99,steam
87351,76561198061393233_steam,20565.0,1.99,steam
83963,76561198020125851_steam,20117.0,1.99,steam
122196,76561199492215670_steam,19844.0,1.99,steam
81596,76561197986240493_steam,19060.0,1.99,steam
96820,76561198172925593_steam,18237.0,2.99,steam
88323,76561198071709714_steam,18060.0,0.99,steam
81347,76561197981228012_steam,18030.0,1.99,steam
81208,76561197977920776_steam,17088.0,1.99,steam
108101,76561198393004695_steam,16803.0,1.99,steam
81709,76561197988445370_steam,16170.0,0.89,steam
102448,76561198286209051_steam,16059.0,1.99,steam
80279,76561197961542845_steam,15783.0,1.99,steam
94421,76561198141387426_steam,15685.0,2.99,steam
95849,76561198158969968_steam,15215.0,2.49,steam
88585,76561198074104374_steam,15134.0,1.24,steam
89006,76561198078266186_steam,15119.0,1.99,steam
89580,76561198083550415_steam,14999.0,0.99,steam
81519,76561197984777354_steam,14814.0,6.99,steam
113851,76561198878163382_steam,14799.0,1.99,steam
95981,76561198160900075_steam,14772.0,2.99,steam
84967,76561198034072369_steam,14263.0,1.99,steam
93527,76561198130545082_steam,14216.0,1.99,steam
80571,76561197966003868_steam,13876.0,1.99,steam
81054,76561197974393359_steam,13566.0,1.99,steam
6433,1354805_playstation,13540.0,4.99,playstation
92037,76561198113238279_steam,13367.0,1.04,steam
108064,76561198392118979_steam,12801.0,1.99,steam
116846,76561199014028512_steam,12781.0,1.99,steam
21259,2304642_playstation,12639.0,1.99,playstation
102224,76561198282924701_steam,12554.0,1.99,steam
88014,76561198068399641_steam,12486.0,1.99,steam
83004,76561198006648874_steam,12262.0,1.99,steam
88507,76561198073410742_steam,12163.0,1.99,steam
98409,76561198203200018_steam,12152.0,1.99,steam
87647,76561198064484943_steam,11991.0,0.74,steam
83345,76561198011839810_steam,11921.0,1.99,steam

In [64]:
#median des prix des jeux acheté par nombre de jeux achetés
mean_price_brouhgt_by_player =  purchased_games_price_join.groupby(['playerid', 'games_bought'])['usd'].mean().reset_index(name = 'mean_bought_by_player').sort_values(by='games_bought', ascending=False)
mean_price_brouhgt_by_player['plateforme'] = mean_price_brouhgt_by_player['playerid'].str.split('_').str[1]
mean_price_brouhgt_by_player.head(50)

,playerid,games_bought,mean_bought_by_player,plateforme
90532,76561198094227663_steam,32463.0,0.99,steam
80350,76561197962473290_steam,28196.0,1.99,steam
81167,76561197976968076_steam,25707.0,1.99,steam
84479,76561198027214426_steam,25100.0,1.99,steam
112291,76561198842864763_steam,25085.0,1.99,steam
80854,76561197970825215_steam,25041.0,1.99,steam
81282,76561197979667190_steam,24170.0,1.99,steam
85235,76561198037809069_steam,22844.0,0.99,steam
114294,76561198890581618_steam,22465.0,1.99,steam
106983,76561198367471798_steam,21910.0,1.99,steam
85814,76561198044387084_steam,21717.0,1.99,steam
91248,76561198102767019_steam,21406.0,0.99,steam
81996,76561197992548975_steam,21285.0,1.99,steam
109222,76561198417144062_steam,20820.0,1.99,steam
87351,76561198061393233_steam,20565.0,1.99,steam
83963,76561198020125851_steam,20117.0,1.99,steam
122196,76561199492215670_steam,19844.0,1.99,steam
81596,76561197986240493_steam,19060.0,1.99,steam
96820,76561198172925593_steam,18237.0,2.99,steam
88323,76561198071709714_steam,18060.0,0.99,steam
81347,76561197981228012_steam,18030.0,1.99,steam
81208,76561197977920776_steam,17088.0,1.99,steam
108101,76561198393004695_steam,16803.0,1.99,steam
81709,76561197988445370_steam,16170.0,0.89,steam
102448,76561198286209051_steam,16059.0,1.99,steam
80279,76561197961542845_steam,15783.0,1.99,steam
94421,76561198141387426_steam,15685.0,2.99,steam
95849,76561198158969968_steam,15215.0,2.49,steam
88585,76561198074104374_steam,15134.0,1.24,steam
89006,76561198078266186_steam,15119.0,1.99,steam
89580,76561198083550415_steam,14999.0,0.99,steam
81519,76561197984777354_steam,14814.0,6.99,steam
113851,76561198878163382_steam,14799.0,1.99,steam
95981,76561198160900075_steam,14772.0,2.99,steam
84967,76561198034072369_steam,14263.0,1.99,steam
93527,76561198130545082_steam,14216.0,1.99,steam
80571,76561197966003868_steam,13876.0,1.99,steam
81054,76561197974393359_steam,13566.0,1.99,steam
6433,1354805_playstation,13540.0,4.99,playstation
92037,76561198113238279_steam,13367.0,1.04,steam
108064,76561198392118979_steam,12801.0,1.99,steam
116846,76561199014028512_steam,12781.0,1.99,steam
21259,2304642_playstation,12639.0,1.99,playstation
102224,76561198282924701_steam,12554.0,1.99,steam
88014,76561198068399641_steam,12486.0,1.99,steam
83004,76561198006648874_steam,12262.0,1.99,steam
88507,76561198073410742_steam,12163.0,1.99,steam
98409,76561198203200018_steam,12152.0,1.99,steam
87647,76561198064484943_steam,11991.0,0.74,steam
83345,76561198011839810_steam,11921.0,1.99,steam

In [65]:
#Fichiers de sortie
sum_price_brouhgt_by_player.to_csv('out/price_and_number_sale/price_brouhgt_by_player_sum.csv', index=False)
mean_price_brouhgt_by_player.to_csv('out/price_and_number_sale/price_brouhgt_by_player_mean.csv', index=False)

#### Review

#### Nombre d’avis par jeu ? par genre ? par pays ? par joueur ? (steam)

In [66]:
#jointure des dataset reviews, games et players
games_review_join = pd.merge(reviews[['reviewid','playerid','gameid']], games[['gameid', 'title', 'main_genre']], on='gameid', how='left')
players_games_review_join = pd.merge(games_review_join, players[['playerid','country']], on='playerid', how='left')

players_games_review_join.head(50)

,reviewid,playerid,gameid,title,main_genre,country
0,639543,76561198796340888_steam,730_steam,Counter-Strike 2,Action,Poland
1,639544,76561198028706627_steam,393380_steam,Squad,Action,Slovakia
2,639545,76561198028706627_steam,10_steam,Counter-Strike,Action,Slovakia
3,639546,76561198049356580_steam,469600_steam,Legion TD 2 - Multiplayer Tower Defense,Casual,Japan
4,639547,76561198272817436_steam,730_steam,Counter-Strike 2,Action,unknown
5,639548,76561198399037664_steam,271590_steam,Grand Theft Auto V,Action,unknown
6,639549,76561198399037664_steam,578080_steam,PUBG: BATTLEGROUNDS,Action,unknown
7,639550,76561198399037664_steam,601150_steam,Devil May Cry 5,Action,unknown
8,639551,76561198891812676_steam,359550_steam,Tom Clancy's Rainbow Six® Siege,Action,China
9,639552,76561198891812676_steam,730_steam,Counter-Strike 2,Action,China
10,639553,76561198081780274_steam,105600_steam,Terraria,Action,Brazil
11,639554,76561198081780274_steam,306130_steam,The Elder Scrolls® Online,Action,Brazil
12,639555,76561198081780274_steam,72850_steam,The Elder Scrolls V: Skyrim,RPG,Brazil
13,639556,76561198242587926_steam,346110_steam,ARK: Survival Evolved,Action,Italy
14,639557,76561198177079007_steam,570_steam,Dota 2,Action,Indonesia
15,639558,76561198177079007_steam,582010_steam,Monster Hunter: World,Action,Indonesia
16,639559,76561198128975537_steam,733070_steam,Sudoku Universe / 数独宇宙,Casual,United States
17,639560,76561198294718164_steam,730_steam,Counter-Strike 2,Action,France
18,639561,76561198130157739_steam,1517290_steam,Battlefield™ 2042,Action,Germany
19,639562,76561198130157739_steam,238320_steam,Outlast,Action,Germany
20,639563,76561198278931212_steam,470220_steam,UNO,Casual,Brazil
21,639564,76561198278931212_steam,774181_steam,Rhythm Doctor,Indie,Brazil
22,639565,76561198278931212_steam,985810_steam,GrandChase,Action,Brazil
23,639566,76561198278931212_steam,349040_steam,NARUTO SHIPPUDEN: Ultimate Ninja STORM 4,Action,Brazil
24,639567,76561198278931212_steam,1201240_steam,BLEACH Brave Souls,Action,Brazil
25,639568,76561198278931212_steam,234330_steam,MARVEL Puzzle Quest,Casual,Brazil
26,639569,76561198278931212_steam,601510_steam,Yu-Gi-Oh! Duel Links,Strategy,Brazil
27,639570,76561198166428701_steam,730_steam,Counter-Strike 2,Action,Italy
28,639571,76561198111259840_steam,1476680_steam,A World of Little Legends,Action,Germany
29,639572,76561198165637504_steam,380600_steam,Fishing Planet,Massively Multiplayer,United States
30,639573,76561198165637504_steam,730_steam,Counter-Strike 2,Action,United States
31,639574,76561198370266212_steam,359550_steam,Tom Clancy's Rainbow Six® Siege,Action,Cook Islands
32,639575,76561198370266212_steam,414700_steam,Outlast 2,Action,Cook Islands
33,639576,76561198078207965_steam,418370_steam,Resident Evil 7 Biohazard,Action,United States
34,639577,76561198078207965_steam,263300_steam,BlazBlue: Calamity Trigger,Action,United States
35,639578,76561199165949176_steam,943380_steam,Timberman VS,Action,Poland
36,639579,76561199165949176_steam,730_steam,Counter-Strike 2,Action,Poland
37,639580,76561199387191936_steam,236390_steam,War Thunder,Action,Germany
38,639581,76561199387191936_steam,750920_steam,Shadow of the Tomb Raider: Definitive Edition,Action,Germany
39,639582,76561199387191936_steam,292030_steam,The Witcher 3: Wild Hunt,RPG,Germany
40,639583,76561198164012532_steam,244210_steam,Assetto Corsa,Indie,unknown
41,639584,76561198164012532_steam,252950_steam,Rocket League®,Action,unknown
42,639585,76561198164012532_steam,391270_steam,Fingerbones,Adventure,unknown
43,639586,76561198164012532_steam,104900_steam,ORION: Prelude,Action,unknown
44,639587,76561198164012532_steam,271590_steam,Grand Theft Auto V,Action,unknown
45,639588,76561198164012532_steam,730_steam,Counter-Strike 2,Action,unknown
46,639589,76561198164012532_steam,4000_steam,Garry's Mod,Casual,unknown
47,639590,76561198103226163_steam,2379780_steam,Balatro,Casual,China
48,639591,76561198103226163_steam,2358720_steam,Black Myth: Wukong,Action,China
49,639592,76561198103226163_steam,1794680_steam,Vampire Survivors,Action,China

In [67]:
#Nombre de revue par genre
review_by_genre= players_games_review_join.groupby(['main_genre'])['reviewid'].size().reset_index(name='nb_review').sort_values(by='nb_review', ascending=False)

#taux de revue par pays
games_genre = games.copy()

review_by_genre['nb_game_by_genre'] = review_by_genre.apply(
    lambda x : games_genre[(games_genre['main_genre'] == x['main_genre']) & (games_genre['plateforme'] == 'steam')].shape[0],
    axis=1
)

review_by_genre['rate_review_by_genre'] = review_by_genre['nb_review'] / review_by_genre['nb_game_by_genre']

review_by_genre.sort_values(by='rate_review_by_genre', ascending=False)

               main_genre  nb_review  nb_game_by_genre  rate_review_by_genre
16                    RPG      37994              1539             24.687459
13  Massively Multiplayer       4266               173             24.658960
1                  Action     788019             37955             20.761929
17                 Racing       8932               478             18.686192
22               Strategy      21695              1305             16.624521
19             Simulation      25196              2023             12.454770
9            Free To Play       6808               836              8.143541
4        Audio Production       1045               133              7.857143
10       Game Development         84                11              7.636364
12                  Indie      64351              8525              7.548504
2               Adventure     138383             19419              7.126165
3    Animation & Modeling       1907               324              5.885802
11                   Gore        184                33              5.575758
21                 Sports       1014               199              5.095477
23              Utilities       1503               315              4.771429
5                  Casual      85988             18404              4.672245
7            Early Access        100                26              3.846154
14                 Nudity        185                53              3.490566
25                Violent       1255               365              3.438356
18         Sexual Content        256                92              2.782609
6   Design & Illustration        401               186              2.155914
26         Web Publishing          4                 2              2.000000
20      Software Training         80                41              1.951220
24       Video Production         73                47              1.553191
8               Education        249               172              1.447674
0              Accounting         21                17              1.235294
15          Photo Editing         12                26              0.461538
27                unknown       2167              5549              0.390521

In [68]:
#Nombre de revue par jeu
review_by_jeu = players_games_review_join.groupby(['gameid','title'])['reviewid'].size().reset_index(name='nb_review').sort_values(by='nb_review', ascending=False)
review_by_jeu['review_by_game_rate'] = review_by_jeu['nb_review'] / players_games_review_join.shape[0]
review_by_jeu.head(50)

,gameid,title,nb_review,review_by_game_rate
45648,730_steam,Counter-Strike 2,70529,0.058553
41566,570_steam,Dota 2,15759,0.013083
41795,578080_steam,PUBG: BATTLEGROUNDS,11743,0.009749
38078,440_steam,Team Fortress 2,11409,0.009472
28905,271590_steam,Grand Theft Auto V,10812,0.008976
35559,359550_steam,Tom Clancy's Rainbow Six® Siege,8871,0.007365
26532,252490_steam,Rust,8370,0.006949
36888,4000_steam,Garry's Mod,7813,0.006486
26596,252950_steam,Rocket League®,7142,0.005929
41033,550_steam,Left 4 Dead 2,6912,0.005738
21668,218620_steam,PAYDAY 2,6793,0.005640
36265,381210_steam,Dead by Daylight,6484,0.005383
1257,105600_steam,Terraria,6333,0.005258
41130,553850_steam,HELLDIVERS™ 2,6154,0.005109
23011,227300_steam,Euro Truck Simulator 2,5566,0.004621
31170,292030_steam,The Witcher 3: Wild Hunt,5509,0.004574
2099,1091500_steam,Cyberpunk 2077,5088,0.004224
5504,1245620_steam,ELDEN RING,4922,0.004086
3975,1172470_steam,Apex Legends™,4589,0.003810
32491,304930_steam,Unturned,4254,0.003532
23475,230410_steam,Warframe,4233,0.003514
45843,739630_steam,Phasmophobia,4165,0.003458
1973,1085660_steam,Destiny 2,4064,0.003374
50581,945360_steam,Among Us,3963,0.003290
35071,346110_steam,ARK: Survival Evolved,3807,0.003161
24380,236390_steam,War Thunder,3787,0.003144
17872,1938090_steam,Call of Duty®,3736,0.003102
37286,413150_steam,Stardew Valley,3665,0.003043
22077,221100_steam,DayZ,3584,0.002975
25266,242760_steam,The Forest,3547,0.002945
2003,1086940_steam,Baldur's Gate 3,3508,0.002912
2319,10_steam,Counter-Strike,3489,0.002897
38142,444090_steam,Paladins®,3308,0.002746
24769,239140_steam,Dying Light,3289,0.002731
4019,1174180_steam,Red Dead Redemption 2,3263,0.002709
2248,1097150_steam,Fall Guys,3257,0.002704
42876,620_steam,Portal 2,3112,0.002584
49531,892970_steam,Valheim,3005,0.002495
45589,72850_steam,The Elder Scrolls V: Skyrim,2894,0.002403
31121,291550_steam,Brawlhalla,2887,0.002397
36063,374320_steam,DARK SOULS™ III,2866,0.002379
39524,49520_steam,Borderlands 2,2863,0.002377
34010,322330_steam,Don't Starve Together,2702,0.002243
36146,377160_steam,Fallout 4,2666,0.002213
1730,107410_steam,Arma 3,2642,0.002193
41888,582010_steam,Monster Hunter: World,2510,0.002084
40966,548430_steam,Deep Rock Galactic,2480,0.002059
37863,433850_steam,Z1 Battle Royale,2395,0.001988
29422,275850_steam,No Man's Sky,2345,0.001947
42201,594650_steam,Hunt: Showdown 1896,2298,0.001908

In [69]:
#Nombre de revue par pays
review_by_country = players_games_review_join.groupby(['country'])['reviewid'].size().reset_index(name='nb_review').sort_values(by='nb_review', ascending=False)

#suppression des pays non connus
review_by_country = review_by_country[review_by_country['country'] != 'unknown']

players_country = players.copy()

#nombre de joueur par pays
review_by_country['nb_player_by_country'] = review_by_country.apply(
    lambda x : players_country[(players_country['country'] == x['country']) & (players_country['plateforme'] == 'steam')].shape[0],
    axis=1
)

#taux de revue par pays
review_by_country['rate_review_by_country'] = review_by_country['nb_review'] / review_by_country['nb_player_by_country']

review_by_country.sort_values(by='rate_review_by_country', ascending=False).head(50)

,country,nb_review,nb_player_by_country,rate_review_by_country
140,Mauritius,390,28,13.928571
32,Brunei Darussalam,459,45,10.200000
74,Finland,17922,2074,8.641273
208,Spain,27387,3199,8.561113
118,"Korea, Republic of",8038,965,8.329534
90,Guatemala,556,71,7.830986
216,"Taiwan, Province of China",4787,635,7.538583
161,Niue,239,33,7.242424
222,Tokelau,157,23,6.826087
224,Trinidad and Tobago,244,36,6.777778
44,China,74917,11340,6.606437
97,Holy See (Vatican City State),2754,419,6.572792
71,Falkland Islands (Malvinas),344,54,6.370370
7,Antarctica,2694,446,6.040359
87,Grenada,130,23,5.652174
205,South Africa,2161,405,5.335802
22,Benin,53,10,5.300000
185,"Saint Helena, Ascension and Tristan da Cunha",209,40,5.225000
57,Czechia,10317,2028,5.087278
117,"Korea, Democratic People's Republic of",1554,310,5.012903
92,Guinea,60,12,5.000000
26,"Bonaire, Sint Eustatius and Saba",194,39,4.974359
223,Tonga,126,26,4.846154
106,Ireland,3362,695,4.837410
126,Libya,187,39,4.794872
237,Uzbekistan,793,166,4.777108
58,Côte d'Ivoire,295,62,4.758065
42,Chad,888,193,4.601036
157,New Zealand,2952,644,4.583851
79,Gabon,232,51,4.549020
98,Honduras,289,64,4.515625
192,San Marino,196,44,4.454545
56,Cyprus,868,195,4.451282
23,Bermuda,293,66,4.439394
12,Australia,15955,3597,4.435641
142,Mexico,5017,1142,4.393170
234,United States,130272,29808,4.370370
84,Gibraltar,178,41,4.341463
89,Guam,134,31,4.322581
13,Austria,4150,968,4.287190
116,Kiribati,132,31,4.258065
153,Nauru,105,25,4.200000
231,Ukraine,13305,3191,4.169539
137,Marshall Islands,95,23,4.130435
125,Liberia,78,19,4.105263
39,Canada,25649,6320,4.058386
203,Solomon Islands,85,21,4.047619
169,"Palestine, State of",797,197,4.045685
111,Japan,20667,5159,4.006009
190,Saint Vincent and the Grenadines,167,42,3.976190

In [70]:
#Nombre de revues par joueur
review_by_player = players_games_review_join.groupby(['playerid'])['reviewid'].size().reset_index(name='nb_review').sort_values(by='nb_review', ascending=False)
review_by_player['review_by_player_rate'] = review_by_player['nb_review'] / players_games_review_join.shape[0]
review_by_player.head(50)

                       playerid  nb_review  review_by_player_rate
164330  76561198844282465_steam      14893               0.012364
33834   76561198036629241_steam      10924               0.009069
34770   76561198038776903_steam       4477               0.003717
80300   76561198125392509_steam       3861               0.003205
100103  76561198172925593_steam       3392               0.002816
122211  76561198272374716_steam       3174               0.002635
142685  76561198355752399_steam       2357               0.001957
984     76561197961017729_steam       2067               0.001716
153165  76561198414080647_steam       2041               0.001694
167559  76561198868631711_steam       1982               0.001645
28575   76561198025089345_steam       1803               0.001497
33257   76561198035504910_steam       1617               0.001342
65974   76561198093298055_steam       1454               0.001207
78371   76561198121398682_steam       1418               0.001177
196475  76561199601368097_steam       1189               0.000987
37152   76561198043135631_steam       1118               0.000928
40027   76561198047455579_steam       1094               0.000908
36431   76561198042023224_steam       1056               0.000877
25533   76561198017967750_steam       1032               0.000857
19904   76561198005447651_steam       1027               0.000853
27367   76561198022179607_steam        950               0.000789
161888  76561198827112545_steam        940               0.000780
6389    76561197973230221_steam        923               0.000766
5069    76561197970761123_steam        917               0.000761
20635   76561198007035653_steam        916               0.000760
103176  76561198185995181_steam        908               0.000754
10594   76561197986360343_steam        845               0.000702
167674  76561198869374320_steam        842               0.000699
186632  76561199101373029_steam        833               0.000692
154859  76561198428702035_steam        789               0.000655
33053   76561198035100973_steam        775               0.000643
20976   76561198007888370_steam        771               0.000640
187122  76561199106697102_steam        757               0.000628
122475  76561198273011256_steam        746               0.000619
26534   76561198020125851_steam        729               0.000605
74528   76561198113953843_steam        722               0.000599
22090   76561198010315744_steam        707               0.000587
83727   76561198132785104_steam        704               0.000584
46394   76561198059286918_steam        683               0.000567
147456  76561198380380314_steam        682               0.000566
34346   76561198037796318_steam        675               0.000560
6366    76561197973134525_steam        671               0.000557
64718   76561198090549054_steam        668               0.000555
153780  76561198418549470_steam        665               0.000552
50489   76561198066202521_steam        659               0.000547
138132  76561198336556291_steam        650               0.000540
20002   76561198005667066_steam        645               0.000535
120100  76561198263249107_steam        644               0.000535
14923   76561197995498126_steam        641               0.000532
166247  76561198858160139_steam        634               0.000526

In [71]:
review_by_genre.to_csv('out/review/review_by_genre.csv', index=False)
review_by_jeu.to_csv('out/review/review_by_jeu.csv', index=False)
review_by_country.to_csv('out/review/review_by_country.csv', index=False)
review_by_player.to_csv('out/review/review_by_player.csv', index=False)