In [1]:
import pandas as pd

### Ã‰volution des prix dans le temps par genre ?

In [2]:
games=pd.read_csv("final/games.csv")
games.head()

,Unnamed: 0,gameid,title,platform,developers,publishers,genres,supported_languages,release_date,plateforme,main_genre,supported_languages_count,release_year
0,0,749375_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,Puzzle,131888,2024
1,1,749839_playstation,Sunforge Solar Survival,PS4,['GrizzlyGames'],['GrizzlyGames'],unknown,['unknown'],2024-11-21,playstation,unknown,131888,2024
2,2,749347_playstation,Find Love Or Die Trying,PS5,['Sunseeker Games'],['Ratalaika Games'],['Visual Novel'],['unknown'],2024-11-22,playstation,Visual Novel,131888,2024
3,3,749341_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,Puzzle,131888,2024
4,4,749097_playstation,Bust A Block 2,PS5,['ThiGames'],['ThiGames'],['Puzzle'],['unknown'],2024-11-21,playstation,Puzzle,131888,2024

In [3]:
prices=pd.read_csv("final/prices.csv")
prices.head()

,Unnamed: 0,gameid,usd,eur,gbp,jpy,rub,date_acquired,plateforme,acquired_year
0,0,749347_playstation,10.39,10.39,7.99,1408.0,929.0,2025-02-22,playstation,2025
1,1,749281_playstation,1.49,1.49,1.19,220.0,NaN,2025-02-22,playstation,2025
2,2,749839_playstation,14.99,14.99,11.99,2310.0,1069.0,2025-02-22,playstation,2025
3,3,749280_playstation,1.49,1.49,1.19,220.0,NaN,2025-02-22,playstation,2025
4,4,749375_playstation,0.99,0.49,0.39,165.0,71.0,2025-02-22,playstation,2025

In [4]:
# merger deux tables 

games_prices=games.merge(
  prices,
  left_on =['gameid'],
  right_on =['gameid'],
  how='left'    
)

In [5]:
games_prices.head()

,Unnamed: 0_x,gameid,title,platform,developers,publishers,genres,supported_languages,release_date,plateforme_x,...,release_year,Unnamed: 0_y,usd,eur,gbp,jpy,rub,date_acquired,plateforme_y,acquired_year
0,0,749375_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,...,2024,4,0.99,0.49,0.39,165.0,71.0,2025-02-22,playstation,2025
1,0,749375_playstation,Medieval Match Master,PS4,['Erik Games'],['Erik Games'],['Puzzle'],['unknown'],2024-11-22,playstation,...,2024,30763,0.99,0.49,0.39,165.0,71.0,2025-02-24,playstation,2025
2,1,749839_playstation,Sunforge Solar Survival,PS4,['GrizzlyGames'],['GrizzlyGames'],unknown,['unknown'],2024-11-21,playstation,...,2024,2,14.99,14.99,11.99,2310.0,1069.0,2025-02-22,playstation,2025
3,1,749839_playstation,Sunforge Solar Survival,PS4,['GrizzlyGames'],['GrizzlyGames'],unknown,['unknown'],2024-11-21,playstation,...,2024,30765,14.99,14.99,11.99,2310.0,1069.0,2025-02-24,playstation,2025
4,2,749347_playstation,Find Love Or Die Trying,PS5,['Sunseeker Games'],['Ratalaika Games'],['Visual Novel'],['unknown'],2024-11-22,playstation,...,2024,0,10.39,10.39,7.99,1408.0,929.0,2025-02-22,playstation,2025

In [6]:
# creer une table avec les colonnes dont on a besoin pour rÃ©pondre a la quesiton 

games_prices=games_prices[['gameid', 'main_genre', 'usd','eur','gbp','jpy','rub','date_acquired','release_date']]

games_prices.head()

,gameid,main_genre,usd,eur,gbp,jpy,rub,date_acquired,release_date
0,749375_playstation,Puzzle,0.99,0.49,0.39,165.0,71.0,2025-02-22,2024-11-22
1,749375_playstation,Puzzle,0.99,0.49,0.39,165.0,71.0,2025-02-24,2024-11-22
2,749839_playstation,unknown,14.99,14.99,11.99,2310.0,1069.0,2025-02-22,2024-11-21
3,749839_playstation,unknown,14.99,14.99,11.99,2310.0,1069.0,2025-02-24,2024-11-21
4,749347_playstation,Visual Novel,10.39,10.39,7.99,1408.0,929.0,2025-02-22,2024-11-22

In [7]:
# converir release_date en datetime et extraire l'annÃ©e

games_prices['year'] = pd.to_datetime(games_prices['release_date']).dt.year

In [8]:
games_prices.head()

,gameid,main_genre,usd,eur,gbp,jpy,rub,date_acquired,release_date,year
0,749375_playstation,Puzzle,0.99,0.49,0.39,165.0,71.0,2025-02-22,2024-11-22,2024
1,749375_playstation,Puzzle,0.99,0.49,0.39,165.0,71.0,2025-02-24,2024-11-22,2024
2,749839_playstation,unknown,14.99,14.99,11.99,2310.0,1069.0,2025-02-22,2024-11-21,2024
3,749839_playstation,unknown,14.99,14.99,11.99,2310.0,1069.0,2025-02-24,2024-11-21,2024
4,749347_playstation,Visual Novel,10.39,10.39,7.99,1408.0,929.0,2025-02-22,2024-11-22,2024

In [ ]:
# Calculer la moyenne des prix par annÃ©e et par genre. RÃ©ponse Ã  la question : 
# Ã‰volution des prix dans le temps par genre ? 

avg_price_by_year_genre = (games_prices
    .groupby(['year', 'main_genre']) 
    [['usd','eur','gbp','jpy','rub']]
    .mean()                        
    .reset_index()                 
    .round(2)                      
)

avg_price_by_year_genre

      year  main_genre    usd    eur    gbp      jpy      rub
0     1997      Action   7.49    NaN   4.49   735.00   186.67
1     1998      Action   8.03   6.59   5.78   812.49   208.16
2     1999      Action   4.07   4.07   3.50   473.67   163.33
3     2000      Action   6.03   5.30   4.62   639.86   184.63
4     2001      Action   6.47   6.47   5.53   734.56   286.12
...    ...         ...    ...    ...    ...      ...      ...
1148  2025      Puzzle   3.42   3.62   2.89   421.93   359.00
1149  2025  Simulation  78.97  75.82  66.72  8889.93  2643.15
1150  2025    Strategy   6.35   6.28   5.33   740.96   249.55
1151  2025     shooter  24.99  24.99  19.99      NaN      NaN
1152  2025     unknown  13.88  14.02  11.55  4109.11  1161.27

[1153 rows x 7 columns]

In [11]:
avg_price_by_year_genre.to_csv("powerbi/prix_dans_temps_par_genre.csv")